<form>
  <div class="form-group">
      <label>{{localize "LF1.BaseDice"}}</label>
      <input class="attribute" type="text" name="d20" value="{{d20}}" placeholder="e.g. 2d20kl"/>
  </div>
  <div class="form-group">
    <label>{{localize "LF1.SituationalBonus"}}</label>
    <input type="text" name="bonus" value="{{bonus}}" placeholder="e.g. +1d4"/>
  </div>
  <div class="form-group">
    <label>{{localize "LF1.RollMode"}}</label>
    <select name="rollMode">
      {{selectOptions rollModes selected=rollMode localize=true}}
    </select>
  </div>
</form>
