<form class="{{cssClass}}" autocomplete="off">

    {{!-- NPC Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
      <a class="item" data-tab="summary">{{ localize "LF1.Summary" }}</a>
      <a class="item" data-tab="attributes">{{ localize "LF1.Attributes" }}</a>
      <a class="item" data-tab="combat">{{ localize "LF1.Combat" }}</a>
      <a class="item" data-tab="inventory">{{ localize "LF1.Inventory" }}</a>
      <a class="item" data-tab="feats">{{ localize "LF1.Features" }}</a>
      <a class="item" data-tab="skills">{{ localize "LF1.Skills" }}</a>
      <a class="item" data-tab="buffs">{{ localize "LF1.Buffs" }}</a>
      {{#if usesAnySpellbook}}<a class="item" data-tab="spellbook">{{ localize "LF1.Spells" }}</a>{{/if}}
      <a class="item" data-tab="biography">{{ localize "LF1.Biography" }}</a>
      <a class="item" data-tab="notes">{{ localize "LF1.Notes" }}</a>
      <a class="item" data-tab="settings">{{ localize "LF1.Settings" }}</a>
    </nav>

    {{!-- NPC Sheet Body --}}
    <section class="primary-body">

      {{!-- Details --}}
      <div class="tab summary flexcol" data-group="primary" data-tab="summary">
        {{> "systems/lf1/templates/actors/parts/actor-summary.hbs"}}
      </div>

      <div class="tab attributes flexcol" data-group="primary" data-tab="attributes">
        {{> "systems/lf1/templates/actors/parts/actor-attributes.hbs"}}
      </div>

      {{!-- Combat Tab --}}
      <div class="tab combat flexcol" data-group="primary" data-tab="combat">
        {{~> "systems/lf1/templates/actors/parts/actor-combat.hbs" sections=attacks}}
      </div>

      {{!-- Inventory Tab --}}
      <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
        {{> "systems/lf1/templates/actors/parts/actor-inventory.hbs" sections=inventory}}
      </div>

      {{!-- Features Tab --}}
      <div class="tab features flexcol" data-group="primary" data-tab="feats">
        {{> "systems/lf1/templates/actors/parts/actor-features.hbs" sections=features}}
      </div>

      {{!-- Skills Tab --}}
      <div class="tab skills flexcol{{#if @root.skillsLocked}} locked{{/if}}" data-group="primary" data-tab="skills">
        {{> "systems/lf1/templates/actors/parts/actor-skills-front.hbs"}}
      </div>

      {{!-- Buffs Tab --}}
      <div class="tab buffs flexcol" data-group="primary" data-tab="buffs">
        {{> "systems/lf1/templates/actors/parts/actor-buffs.hbs" sections=buffs}}
      </div>

      {{!-- Spellbook Tab --}}
      {{#if usesAnySpellbook}}
      <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
        {{> "systems/lf1/templates/actors/parts/actor-spellbook-front.hbs"}}
      </div>
      {{/if}}

      {{!-- Biography Tab --}}
      <div class="tab biography flexcol" data-group="primary" data-tab="biography">
        {{editor biographyHTML target="system.details.biography.value" button=true editable=editable engine="prosemirror" collaborate=false}}
      </div>

      {{!-- Notes Tab --}}
      <div class="tab actor-notes flexcol" data-group="primary" data-tab="notes">
        <div class="primary-content">
          {{editor notesHTML target="system.details.notes.value" button=true editable=editable engine="prosemirror" collaborate=false}}
        </div>

        {{#if magicItems}}
        {{> "systems/lf1/templates/internal/table_magic-items.hbs" items=magicItems}}
        {{/if}}
      </div>

      {{!-- Settings Tab --}}
      <div class="tab settings flexcol" data-group="primary" data-tab="settings">
        {{> "systems/lf1/templates/actors/parts/actor-settings.hbs"}}
      </div>
    </section>
  </form>
