<form class="{{cssClass}}" autocomplete="off">

  {{!-- NPC Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{actor.img}}" data-edit="img"/>

    <div class="header-details flexcol">
      <!-- <div class="header-top flexrow"> -->
        <h1 class="char-name">
          <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "LF1.CharacterName"}}"/>
        </h1>
      <!-- </div> -->
    </div>
  </header>

  {{!-- NPC Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="summary">{{localize "LF1.Summary"}}</a>
    <a class="item" data-tab="notes">{{ localize "LF1.Notes" }}</a>
  </nav>

  <section class="primary-body">
    <div class="tab summary" data-group="primary" data-tab="summary">
      {{!-- HD/XP reward --}}
      <div class="hd-level npc tooltip flexrow">
        <table>
          <thead>
            <tr>
              <th>{{localize "LF1.ChallengeRatingShort"}}</th>
              <th>{{localize "LF1.Experience"}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-action="input-text" data-for=".cr-input" data-attr-name="system.details.cr.base">
                <input readonly class="cr-input" type="text" value="{{labels.cr}}"/>
              </td>
              <td>
                {{system.details.xp.value}}
              </td>
            </tr>
          </tbody>
        </table>

        <span class="tooltipcontent">
          <span class="span2 align-left">@attributes.hd.total</span>
          <span class="span1 align-right">{{system.attributes.hd.total}}</span>
          <span class="span2 align-left">@details.cr.base</span>
          <span class="span1 align-right">{{system.details.cr.base}}</span>
          <span class="span2 align-left">@details.cr.total</span>
          <span class="span1 align-right">{{system.details.cr.total}}</span>
        </span>
      </div>

      {{!-- Health --}}
      {{#unless useWoundsAndVigor}}
      <table class="health-table">
        <thead>
          <tr>
            <th colspan="4">
              {{localize "LF1.HitPoints"}}
            </th>
          </tr>

          <tr>
            <th>{{localize "LF1.Current"}}</th>
            <th>{{localize "LF1.Maximum"}}</th>
            <th>{{localize "LF1.TempShort"}}</th>
            <th>{{localize "LF1.Nonlethal"}}</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <span class="text-box direct wheel-change allow-relative hp-current-input" name="system.attributes.hp.value" data-dtype="Number">{{system.attributes.hp.value}}</span>
            </td>
            <td>
              <span class="text-box direct hp-max-input" name="system.attributes.hp.base">{{system.attributes.hp.max}}</span>
            </td>
            <td>
              <span class="text-box direct allow-relative hp-temp-input" name="system.attributes.hp.temp" data-dtype="Number">{{#if system.attributes.hp.temp}}{{system.attributes.hp.temp}}{{/if}}</span>
            </td>
            <td>
              <span class="text-box direct allow-relative hp-nonlethal-input" name="system.attributes.hp.nonlethal" data-dtype="Number">{{#if system.attributes.hp.nonlethal}}{{system.attributes.hp.nonlethal}}{{/if}}</span>
            </td>
          </tr>
        </tbody>
      </table>
      {{else}}
      <table class="health-table wounds-vigor">
        <thead>
          <tr>
            <th colspan="3">
              {{localize "LF1.Vigor"}}
            </th>

            <th colspan="2">
              {{localize "LF1.Wounds"}}
            </th>
          </tr>

          <tr>
            <th>{{localize "LF1.Current"}}</th>
            <th>{{localize "LF1.Maximum"}}</th>
            <th>{{localize "LF1.TempShort"}}</th>
            <th>{{localize "LF1.Current"}}</th>
            <th>{{localize "LF1.Maximum"}}</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <span class="text-box direct wheel-change allow-relative" name="system.attributes.vigor.value" data-dtype="Number">{{system.attributes.vigor.value}}</span>
            </td>
            <td>
              <span class="text-box direct" name="system.attributes.vigor.base">{{system.attributes.vigor.max}}</span>
            </td>
            <td>
              <span class="text-box direct wheel-change allow-relative" name="system.attributes.vigor.temp" data-dtype="Number">{{#if system.attributes.vigor.temp}}{{system.attributes.vigor.temp}}{{/if}}</span>
            </td>
            <td>
              <span class="text-box direct wheel-change allow-relative" name="system.attributes.wounds.value" data-dtype="Number">{{system.attributes.wounds.value}}</span>
            </td>
            <td>
              <span class="text-box direct" name="system.attributes.wounds.base">{{system.attributes.wounds.max}}</span>
            </td>
          </tr>
        </tbody>
      </table>
      {{/unless}}

      <table>
          <thead>
              <tr>
                  {{#each system.attributes.savingThrows as |savingThrow id|}}
                  <th class="saving-throw" data-savingthrow="{{id}}">
                      <a class="rollable"><i class="fas fa-dice"></i><span>{{savingThrow.label}}</span></a>
                  </th>
                  {{/each}}
              </tr>
          </thead>

          <tbody>
              <tr>
                  {{#each system.attributes.savingThrows as |savingThrow id|}}
                  <td>
                      <span class="text-box direct savingthrow-{{id}}-input" name="system.attributes.savingThrows.{{id}}.base">{{savingThrow.total}}</span>
                  </td>
                  {{/each}}
              </tr>
          </tbody>
      </table>

      <table>
        {{!-- Initiative --}}
        <thead>
          <tr>
            <th class="attribute initiative">
              <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "LF1.Initiative"}}</span></a>
            </th>
            <th class="attribute">
              {{localize "LF1.Size"}}
            </th>
            <th class="attribute">
              {{localize "LF1.Stature"}}
            </th>
          </tr>
        </thead>

        {{!-- Size/Stature --}}
        <tbody>
          <tr>
            <td>
              <span class="text-box direct allow-relative hp-nonlethal-input" name="system.attributes.init.value" data-dtype="Number">{{system.attributes.init.total}}</span>
            </td>
            <td>
              <select name="system.traits.size">
                {{#select system.traits.size}}
                {{#each config.actorSizes as |label size|}}
                <option value="{{size}}">{{label}}</option>
                {{/each}}
                {{/select}}
              </select>
            </td>
            <td>
              <select name="system.traits.stature">
                {{#select system.traits.stature}}
                {{#each config.actorStatures as |label key|}}
                <option value="{{key}}">{{label}}</option>
                {{/each}}
                {{/select}}
              </select>
            </td>
          </tr>
        </tbody>
      </table>

      {{!-- Actions --}}
      <div class="combat-attacks">
        <section class="attacks-body">
          {{#each attacks as |section sid|}}
          <ol class="item-groups-list sub-scroll scroll-attacks">
            <li class="item-list-header flexrow">
              <div class="item-name">
                <h3>{{section.label}}</h3>
              </div>

              {{#if section.showTypes}}<div class="item-detail item-type"><i class="icon icon-magic-palm large" data-tooltip="LF1.Type"></i></div>{{/if}}

              <div class="item-detail item-actions"><i class="icon icon-gears large" data-tooltip="LF1.ActionPlural"></i></div>

              <div class="item-detail item-uses"><i class="icon icon-battery-pack large" data-tooltip="LF1.ChargePlural"></i></div>

              {{#if ../owner}}
              <div class="item-controls">
                {{#if section.canCreate}}
                <a class="item-control item-create" data-tooltip="LF1.CreateItem" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                  <i class="fas fa-plus"></i> {{localize "LF1.Add"}}
                </a>
                {{/if}}
              </div>
              {{/if}}
            </li>

            <ol class="item-list" data-type="attack" data-subtype="{{sid}}">
              {{#each section.items as |item iid|}}
              <li class="item flexrow" data-item-id="{{item.id}}">
                <div class="item-name rollable">
                  <div class="item-image" style='background-image: url("{{item.img}}")' data-tooltip="LF1.DisplayInChat"></div>
                  <h4>
                    {{item.name~}}
                  </h4>
                </div>

                {{#if section.showTypes}}
                <div class="item-detail item-type">
                  <span>{{lookup ../../config.attackTypes item.subType}}</span>
                </div>
                {{/if}}

                <div class="item-detail item-actions">
                  <div class="item-action">
                    {{#if item.hasAction}}
                    <a class="item-control item-action action roll" data-tooltip="LF1.PerformAttack">
                      <i class="fa-solid fa-dice-d20"></i>
                    </a>
                    {{/if}}
                  </div>
                </div>

                <div class="item-detail item-uses flexrow {{#if item.isCharged}}tooltip{{/if}}">
                  {{#if item.isCharged}}
                  <span class="text-box value" data-wheel-step="1" data-dtype="Number">{{item.uses.value}}</span>
                  <span class="sep"> / </span>
                  <span class="text-box">{{item.uses.max}}</span>
                  <span class="tooltipcontent">
                    <span class="span2">@resources.{{item.tag}}.value :</span><span class="span1"> {{item.uses.value}}</span>
                    <span class="span2">@resources.{{item.tag}}.max :</span><span class="span1"> {{item.uses.max}}</span>
                  </span>
                  {{/if}}
                </div>

                {{#if ../../owner}}
                <div class="item-controls">
                  <a class="item-control item-edit" data-tooltip="LF1.EditItem"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-duplicate" data-tooltip="LF1.DuplicateItem"><i class="fas fa-copy"></i></a>
                  <a class="item-control item-delete" data-tooltip="LF1.DeleteItem"><i class="fas fa-trash"></i></a>
                </div>
                {{/if}}
              </li>
              {{/each}}
            </ol>
          </ol>
          {{/each}}
        </section>
      </div>
    </div>

    {{!-- Notes Tab --}}
    <div class="tab actor-notes flexcol" data-group="primary" data-tab="notes">
      <div class="primary-content">
        {{editor notesHTML target="system.details.notes.value" button=true editable=editable engine="prosemirror" collaborate=false}}
      </div>

      {{#if magicItems}}
      {{> "systems/lf1/templates/internal/table_magic-items.hbs" items=magicItems}}
      {{/if}}
    </div>
  </section>

</form>
