<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- NPC Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

    <div class="header-details flexcol">
      <!-- <div class="header-top flexrow"> -->
        <h1 class="charname">
          <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "LF1.CharacterName"}}"/>
        </h1>
      <!-- </div> -->
    </div>
  </header>

  {{!-- NPC Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="summary">{{localize "LF1.Summary"}}</a>
    <a class="item" data-tab="notes">{{ localize "LF1.Notes" }}</a>
  </nav>

  <section class="primary-body">
    <div class="tab summary" data-group="primary" data-tab="summary">
      {{!-- HD/XP reward --}}
      <div class="npc tooltip flexrow">
        <table>
          <thead>
            <tr>
              <th>{{localize "LF1.ChallengeRatingShort"}}</th>
              <th>{{localize "LF1.Experience"}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-action="input-text" data-for=".cr-input" data-attr-name="system.details.cr.base">
                <input readonly class="cr-input" type="text" value="{{labels.cr}}"/>
              </td>
              <td>
                {{system.details.xp.value}}
              </td>
            </tr>
          </tbody>
        </table>
        <span class="tooltipcontent">
          <span class="span2 align-left">@details.cr.base :</span><span class="span1 align-right"> {{system.details.cr.base}}</span>
          <span class="span2 align-left">@details.cr.total :</span><span class="span1 align-right"> {{system.details.cr.total}}</span>
        </span>
      </div>

      <div class="flexrow">
        <table>
          <thead>
            <tr>
              <th>{{localize "LF1.Trap.Type"}}</th>
              <th>{{localize "LF1.Trap.PerceptionDC"}}</th>
              <th>{{localize "LF1.Trap.DisableDeviceDC"}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input name="system.details.trap.type" value="{{system.details.trap.type}}" type="text"/>
              </td>
              <td>
                <input name="system.details.trap.perception" value="{{system.details.trap.perception}}" type="number" data-dtype="Number"/>
              </td>
              <td>
                <input name="system.details.trap.disarm" value="{{system.details.trap.disarm}}" type="number" data-dtype="Number"/>
              </td>
            </tr>
          <thead>
            <tr>
              <th colspan="3">{{localize "LF1.Trap.EffectsDetails"}}</th>
            </tr>
          </thead>
          <tr>
            <th>{{localize "LF1.Trap.Trigger"}}</th>
            <th>{{localize "LF1.Duration"}}</th>
            <th>{{localize "LF1.Reset"}}</th>
          </tr>
          <tr>
            <td>
              <input name="system.details.trap.trigger" value="{{system.details.trap.trigger}}" type="text"/>
            </td>
            <td>
              <input name="system.details.trap.duration" value="{{system.details.trap.duration}}" type="text"/>
            </td>
            <td>
               <input name="system.details.trap.reset" value="{{system.details.trap.reset}}" type="text"/>
            </td>
          </tr>
          <thead>
            <tr>
              <th colspan="3">{{localize "LF1.Effect"}}</th>
            </tr>
          </thead>
          <tr>
            <td colspan="3">
              <textarea name="system.details.trap.effect" rows="6">{{system.details.trap.effect}}</textarea>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      {{!-- Actions --}}
      <div class="combat-attacks">
        <section class="attacks-body">
          <ol class="item-groups-list">
          {{#each attacks as |section sid|}}
          {{#unless section._hidden}}
            <ol class="item-list" data-type="attack" data-subtype="{{sid}}">
              <li class="item-list-header flexrow attacks-{{sid}}">
                <h3 class="item-name flexrow">{{section.label}}</h3>

                {{#if section.showTypes}}<div class="item-detail item-type"><i class="icon icon-magic-palm large" title="{{localize "LF1.Type"}}"></i></div>{{/if}}

                <div class="item-detail item-actions"><i class="icon icon-gears large" title="{{localize "LF1.ActionPlural"}}"></i></div>

                <div class="item-detail item-uses"><i class="icon icon-battery-pack large" title="{{localize "LF1.ChargePlural"}}"></i></div>

                {{#if @root.owner}}
                <div class="item-controls">
                  {{#if section.canCreate}}
                  <a class="item-control item-create" title="Create Item" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                    <i class="fas fa-plus"></i> {{localize "LF1.Add"}}
                  </a>
                  {{/if}}
                </div>
                {{/if}}
              </li>

              {{#each section.items as |item iid|}}
              <li class="item flexrow" data-item-id="{{item.id}}">
                <div class="item-name flexrow rollable">
                  <div class="item-image" style='background-image: url("{{item.img}}")'></div>
                  <h4>
                    {{item.name~}}
                  </h4>
                </div>

                {{#if section.showTypes}}
                <div class="item-detail item-type">
                  <span>{{lookup @root.config.attackTypes item.subType}}</span>
                </div>
                {{/if}}

                <div class="item-detail item-actions">
                  <div class="item-action">
                    {{#if item.hasAction}}
                    <a class="item-control item-action action roll" data-tooltip="LF1.PerformAttack">
                      <i class="fa-solid fa-dice-d20"></i>
                    </a>
                    {{/if}}
                  </div>
                </div>

                <div class="item-detail item-uses flexrow {{#if item.isCharged}}tooltip{{/if}}">
                  {{#if item.isCharged}}
                  <span class="text-box value" data-wheel-step="1" data-dtype="Number">{{item.uses.value}}</span>
                  <span class="sep"> / </span>
                  <span class="text-box readonly">{{item.uses.max}}</span>
                  <span class="tooltipcontent">
                    <span class="span2 align-left">@resources.{{item.tag}}.value :</span><span class="span1 align-right"> {{item.uses.value}}</span>
                    <span class="span2 align-left">@resources.{{item.tag}}.max :</span><span class="span1 align-right"> {{item.uses.max}}</span>
                  </span>
                  {{/if}}
                </div>

                {{#if @root.owner}}
                <div class="item-controls">
                  <a class="item-control item-edit" title="{{localize "LF1.EditItem"}}"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-duplicate" title="{{localize "LF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
                  <a class="item-control item-delete" title="{{localize "LF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
                </div>
                {{/if}}
              </li>
              {{/each}}
            </ol>
          {{/unless}}
          {{/each}}
          </ol>
        </section>
      </div>
    </div>

    {{!-- Notes Tab --}}
    <div class="tab actor-notes flexcol" data-group="primary" data-tab="notes">
      <div class="primary-content">
        {{editor notesHTML target="system.details.notes.value" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}
      </div>
    </div>
  </section>

</form>
