:root {
  --lf1-color-text-hover: #aa0200;

  --lf1-success: #18520b;
  --lf1-failure: #aa0200;

  --lf1-roll-critical: #d8e9ba;
  --lf1-roll-success: hsl(201deg 66% 74%);
  --lf1-roll-success-alt: hsl(174deg 100% 8%); // for hue rotated blocks
  --lf1-roll-failure: hsl(0deg 49% 75%);
  --lf1-roll-failure-alt: hsl(53deg 100% 17%); // for hue rotated blocks
  --lf1-roll-normal: hsl(0deg 0% 20%);

  --lf1-quick-action-default-border: gray;
  --lf1-quick-action-attack-border: crimson;
  --lf1-quick-action-weapon-border: silver;
  --lf1-quick-action-equipment-border: violet;
  --lf1-quick-action-consumable-border: limegreen;
  --lf1-quick-action-feat-border: darkorange;
  --lf1-quick-action-spell-border: blueviolet;

  --lf1-item-hover-text: var(--color-text-dark-primary);
  --lf1-item-hover-shadow: 0 0 10px red;

  --lf1-item-list-hover-bg: rgba(140, 130, 110, 0.25);
  --lf1-item-list-hover-text: var(--color-text-dark-primary);
  --lf1-item-list-bg: rgba(175, 175, 175, 0.3);
  --lf1-item-list-bg-alt: rgba(210, 210, 210, 0.3);

  --lf1-compendium-item-border: #ccc;

  --lf1-warning-bg: #cece00;
  --lf1-warning-border: #909000;

  --lf1-dark-bg: #191813;
}
