.lf1.sheet {
  .action.roll {
    justify-self: center;
    display: inline-flex;

    color: var(--color-text-dark-primary);

    > i {
      font-size: var(--font-size-16);

      &:hover {
        animation: dice-spin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 1 forwards;
        color: var(--lf1-color-text-hover);
      }
    }
  }
}
