<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Item Sheet Header --}}
  <header class="sheet-header loot-header flexrow">
    <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img" />

    <div class="header-details flexrow">
      {{> "systems/lf1/templates/items/parts/item-name.hbs"}}

      <ul class="summary">
        <li>
          {{itemType}}
        </li>
        <li>
          {{#unless showUnidentifiedData}}{{lookup config.lootTypes system.subType}}{{/unless}}
        </li>
      </ul>
    </div>
  </header>

  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "LF1.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "LF1.Details" }}</a>
    {{#unless showUnidentifiedData}}
    <a class="item" data-tab="changes">{{ localize "LF1.Changes" }}</a>
    {{/unless}}
    <a class="item" data-tab="links">{{localize "LF1.Links"}}</a>
    {{#unless showUnidentifiedData}}
    <a class="item" data-tab="advanced">{{localize "LF1.Advanced"}}</a>
    {{/unless}}
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">
    {{> "systems/lf1/templates/items/parts/item-description.hbs"}}

    <div class="tab details" data-group="primary" data-tab="details">
      {{> "systems/lf1/templates/items/parts/item-aura.hbs"}}

      <h3 class="form-header">{{localize "LF1.Details"}}</h3>

      {{!-- Loot Type --}}
      <div class="form-group">
        <label>{{localize "LF1.Type"}}</label>
        <div class="form-fields">
          <select name="system.subType">
            {{#select system.subType}}
            {{#each config.lootTypes as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
      </div>

      {{#if (eq system.subType "ammo")}}
        <div class="form-group">
          <label>{{localize "LF1.AmmunitionSubtype"}}</label>
          <div class="form-fields">
            <select name="system.extraType">
              {{#select system.extraType}}
              <option value=""></option>
              {{#each config.ammoTypes as |name type|}}
                <option value="{{type}}">{{name}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
        </div>

        <div class="form-group" data-tooltip="LF1.AbundantDesc">
          <label class="checkbox">
            <input type="checkbox" name="flags.lf1.abundant" {{checked item.flags.lf1.abundant}} /> {{localize "LF1.Abundant"}}
          </label>
        </div>

        {{! Recovery Chance}}
        {{#unless item.flags.lf1.abundant}}
        <div class="form-group">
          <label>{{localize "LF1.RecoverChancePercentage"}}</label>
          <div class="form-fields">
            <input type="number" name="system.recoverChance" data-dtype="Number" placeholder="50" min="0" max="100" value="{{system.recoverChance}}">
          </div>
        </div>
        {{/unless}}
      {{/if}}

      <hr>

      {{!-- Item Size --}}
      {{> "systems/lf1/templates/items/parts/item-size.hbs" allowAutoResizing=true}}

      {{#if isGM}}
      <hr>
      <label class="checkbox">
        <input type="checkbox" name="system.identified" {{checked system.identified}}/> {{localize "LF1.Identified"}}
      </label>
      {{/if}}

      {{!-- Advanced --}}
      {{#unless showUnidentifiedData}}
      <h4 class="form-header">{{localize "LF1.Advanced"}}</h4>

      {{! Tags }}
      {{~> "systems/lf1/templates/items/parts/item-tags.hbs"}}

      {{! Identifier Tag }}
      {{~> "systems/lf1/templates/items/parts/item-tag.hbs"}}
      {{/unless}}
    </div>

    {{!-- Changes Tab --}}
    {{#unless showUnidentifiedData}}
    <div class="tab flexcol" data-group="primary" data-tab="changes">
      {{~> "systems/lf1/templates/items/parts/item-changes.hbs"}}
    </div>
    {{/unless}}

    <div class="tab flexcol" data-group="primary" data-tab="links">
      {{> "systems/lf1/templates/items/parts/item-links.hbs"}}
    </div>

    {{#unless showUnidentifiedData}}
    <div class="tab flexcol" data-group="primary" data-tab="advanced">
      {{> "systems/lf1/templates/items/parts/item-advanced.hbs"}}
    </div>
    {{/unless}}
  </section>
</form>
