<form autocomplete="off">
  <div class="form-group">
    <label for="disable-experience-tracking">
      {{localize "SETTINGS.lf1NoExpN"}}
    </label>
    <div class="form-fields">
      <input type="checkbox" id="disable-experience-tracking" name="disableExperienceTracking" data-dtype="Boolean" {{checked settings.disableExperienceTracking}} />
    </div>
    <p class="notes">{{localize "SETTINGS.lf1NoExpL"}}</p>
  </div>

  {{#if (not settings.disableExperienceTracking)}}

  <div class="form-group">
    <label for="xp-track">{{localize "SETTINGS.lf1ExpRateN"}}</label>
    <div class="form-fields">
      <select name="track" id="xp-track">
        {{#select settings.track}}
        <option value="slow">{{localize "LF1.XPTrackSlow"}}</option>
        <option value="medium">{{localize "LF1.XPTrackMedium"}}</option>
        <option value="fast">{{localize "LF1.XPTrackFast"}}</option>
        <option value="customFormula">{{localize "LF1.XPTrackCustomFormula"}}</option>
        {{/select}}
      </select>
    </div>
    <p class="notes">{{localize "SETTINGS.lf1ExpRateL"}}</p>
  </div>

  {{#if hasCustomFormula}}
  <div class="form-group">
    <label for="xp-custom-formula">{{localize "LF1.Formula"}}</label>
    <div class="form-fields">
      <input type="text" class="formula" placeholder="{{localize "LF1.XPTrackCustomFormulaHint"}}" name="custom.formula" value="{{settings.custom.formula}}" id="xp-custom-formula" />
    </div>
  </div>
  {{/if}}

  <div class="form-group">
    <label for="open-xp-distributor">
      {{localize "SETTINGS.lf1OpenXPDistributorN"}}
    </label>
    <div class="form-fields">
      <input type="checkbox" id="open-xp-distributor" name="openXpDistributor" data-dtype="Boolean" {{checked settings.openXpDistributor}} />
    </div>
    <p class="notes">{{localize "SETTINGS.lf1OpenXPDistributorL"}}</p>
  </div>
  {{/if}}

  <div class="form-group">
    <button type="submit" name="submit" >
      <i class="far fa-save"></i> {{localize "SETTINGS.Save"}}
    </button>
  </div>
</form>
