<form autocomplete="off">
  <nav class="sheet-tabs tabs">
    <a class="item" data-tab="base"><i class="fas fa-heartbeat"></i> {{localize "SETTINGS.lf1HealthConfigTabBase"}}</a>
    <a class="item" data-tab="variants"><i class="fas fa-prescription-bottle-alt"></i> {{localize "SETTINGS.lf1HealthConfigTabVariant"}}</a>
  </nav>

  <div class="tabbed">
  <!-- Base Tab -->
    <section class="tab" data-tab="base">
      <p class="notes">{{localize 'SETTINGS.lf1HealthConfigInstructions'}}</p>
      <div id="hitdice">
        <label class="index table-header">{{localize 'LF1.HitDie'}}</label>
        {{#each hitdieOptions}}
          <label class="table-header">{{this}}</label>
        {{/each}}

        {{#each hitdice as |opt hd|}}
          <label class="index">{{hd}}</label>
          <div class="switch">
            <input class="switch-check" type="checkbox" {{#if opt.auto}}checked{{/if}} name="hitdice.{{hd}}.auto" id="hitdice.{{hd}}.auto">
            <label class="switch-label" for="hitdice.{{hd}}.auto">
              <span class="switch-auto">{{localize 'SETTINGS.lf1HealthComputeAuto'}}</span>
              <span class="switch-manual">{{localize 'SETTINGS.lf1HealthComputeManual'}}</span>
            </label>
          </div>
          <span><input type="text" data-dtype="Number" name="hitdice.{{hd}}.rate" value="{{opt.rate}}"></span>
          <span><input type="text" data-dtype="Number" name="hitdice.{{hd}}.maximized" value="{{opt.maximized}}"></span>
        {{/each}}
        </ul>
      </div>

      <div class="form-group">
        <label>{{localize 'SETTINGS.lf1HealthRoundingName'}}</label>
        <select name="rounding">
          {{#select rounding}}
            <option value="up">&uarr;</option>
            <option value="nearest">&#8597;</option>
            <option value="down">&darr;</option>
          {{/select}}
        </select>
        <p class="notes">{{localize 'SETTINGS.lf1HealthRoundingHint'}}</p>
      </div>

      <div class="form-group">
        <label>{{localize 'SETTINGS.lf1HealthContinuityName'}}</label>
        <select name="continuity">
          {{#select continuity}}
            <option value="continuous">{{localize 'SETTINGS.lf1HealthContinuityContinuous'}}</option>
            <option value="discrete">{{localize 'SETTINGS.lf1HealthContinuityDiscrete'}}</option>
          {{/select}}
        </select>
        <p class="notes">{{localize 'SETTINGS.lf1HealthContinuityHint'}}</p>
      </div>
    </section>

    <!-- Variants Tab -->
    <section class="tab" data-tab="variants">
      <!-- Wounds & Vigor -->
      <div class="form-group">
        <label>{{localize 'SETTINGS.lf1HealthConfigWoundsAndVigorPCName'}}</label>
        <input type="checkbox" {{#if variants.pc.useWoundsAndVigor}}checked{{/if}} name="variants.pc.useWoundsAndVigor">
        <p class="notes">{{localize 'SETTINGS.lf1HealthConfigWoundsAndVigorPCHint'}}</p>
      </div>

      <div class="form-group">
        <label>{{localize 'SETTINGS.lf1HealthConfigWoundsAndVigorNPCName'}}</label>
        <input type="checkbox" {{#if variants.npc.useWoundsAndVigor}}checked{{/if}} name="variants.npc.useWoundsAndVigor">
        <p class="notes">{{localize 'SETTINGS.lf1HealthConfigWoundsAndVigorNPCHint'}}</p>
      </div>

      <!-- Wound Thresholds -->
      <div class="form-group">
        <label>{{localize 'SETTINGS.lf1HealthConfigWoundThresholdsPCName'}}</label>
        <select data-dtype="Number" name="variants.pc.useWoundThresholds">
        {{#select variants.pc.useWoundThresholds}}
            <option value="0">{{localize 'SETTINGS.lf1HealthConfigWoundThresholdDisabled'}}</option>
            <option value="1">{{localize 'SETTINGS.lf1HealthConfigWoundThresholdNormal'}}</option>
            <option value="2">{{localize 'SETTINGS.lf1HealthConfigWoundThresholdGritty'}}</option>
        {{/select}}
        </select>
        <p class="notes">{{localize 'SETTINGS.lf1HealthConfigWoundsThresholdsPCHint'}}</p>
      </div>

      <div class="form-group">
        <label>{{localize 'SETTINGS.lf1HealthConfigWoundThresholdsNPCName'}}</label>
        <select data-dtype="Number" name="variants.npc.useWoundThresholds">
        {{#select variants.npc.useWoundThresholds}}
            <option value="0">{{localize 'SETTINGS.lf1HealthConfigWoundThresholdDisabled'}}</option>
            <option value="1">{{localize 'SETTINGS.lf1HealthConfigWoundThresholdNormal'}}</option>
            <option value="2">{{localize 'SETTINGS.lf1HealthConfigWoundThresholdGritty'}}</option>
        {{/select}}
        </select>
        <p class="notes">{{localize 'SETTINGS.lf1HealthConfigWoundsThresholdsNPCHint'}}</p>
      </div>

      <div class="form-group">
        <label>{{localize 'SETTINGS.lf1HealthConfigWoundThresholdsPCOverrideName'}}</label>
        <input data-dtype="Boolean" type="checkbox" {{#if variants.pc.allowWoundThresholdOverride}}checked{{/if}} name="variants.pc.allowWoundThresholdOverride">
        <p class="notes">{{localize 'SETTINGS.lf1HealthConfigWoundThresholdsPCOverrideHint'}}</p>
      </div>
    </section>
  </div>

  <div class="form-group">
    <button type="submit" name="submit" >
      <i class="far fa-save"></i> {{localize 'SETTINGS.Save'}}
    </button>
    <button type="button" name="reset">
      <i class="fas fa-undo"></i> {{localize 'SETTINGS.Reset'}}
    </button>
  </div>
</form>
