{{!-- Misc Combat Header --}}
<div class="combat-header">
  <table>
    <thead>
      <tr>
        <th class="attribute bab tooltip" data-attribute="bab">
          <span class="tooltipcontent">
            <span class="span2 align-left">@attributes.bab.total :</span><span class="span1 align-right"> &nbsp;{{system.attributes.bab.total}}</span>
            
            {{> "systems/lf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.bab.total }}
          </span>

          <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "LF1.BABAbbr"}}</span></a>
        </th>
        <th class="attribute cmb tooltip" data-attribute="cmb">
          {{> "systems/lf1/templates/actors/parts/actor-cmb.hbs"}}

          <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "LF1.CMBAbbr"}}</span></a>
        </th>
        <th class="attribute attack melee tooltip" data-attack="melee">
          <span class="tooltipcontent">
            <span class="span3">…</span>
            <span class="span2 align-left">+ @attributes.attack.shared :</span> <span class="span1 align-right"> &nbsp;{{system.attributes.attack.shared}}</span>
            <span class="span2 align-left">+ @attributes.attack.general :</span> <span class="span1 align-right"> &nbsp;{{system.attributes.attack.general}}</span>
            <span class="span2 align-left">+ @attributes.attack.melee :</span> <span class="span1 align-right"> &nbsp;{{system.attributes.attack.melee}}</span>
            
            {{> "systems/lf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.attack.shared }}
            {{#if genericAttacks.melee.ability}}<span class="span1 align-left">{{lookup @root.config.abilities genericAttacks.melee.ability}} :</span><span class="span1 align-rightspaced"> {{numberFormat genericAttacks.melee.abilityMod decimals=0 sign=true}}</span><span class="span1 align-right"></span>{{/if}}
            {{#if (ne @root.system.traits.size "med")}}<span class="span1 align-left">{{localize "LF1.Size"}} : </span><span class="span1 align-rightspaced">{{lookup @root.config.sizeMods @root.system.traits.size }}</span><span class="span1 align-right"></span>{{/if}}
            {{> "systems/lf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.attack.general skipLine=true skipLabel=1}}

            {{> "systems/lf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.attack.melee skipLine=true skipLabel=1}}
          </span>
          <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "LF1.Melee"}}</span></a>
        </th>
        <th class="attribute attack ranged tooltip" data-attack="ranged">
          <span class="tooltipcontent">
            <span class="span3">…</span>
            <span class="span2 align-left">+ @attributes.attack.shared :</span> <span class="span1 align-right"> &nbsp;{{system.attributes.attack.shared}}</span>
            <span class="span2 align-left">+ @attributes.attack.general :</span> <span class="span1 align-right"> &nbsp;{{system.attributes.attack.general}}</span>
            <span class="span2 align-left">+ @attributes.attack.ranged :</span> <span class="span1 align-right"> &nbsp;{{system.attributes.attack.ranged}}</span>

            {{> "systems/lf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.attack.shared }}
            {{#if genericAttacks.ranged.ability}}<span class="span1 align-left">{{lookup @root.config.abilities genericAttacks.ranged.ability}} :</span><span class="span1 align-rightspaced"> {{numberFormat genericAttacks.ranged.abilityMod decimals=0 sign=true}}</span><span class="span1 align-right"></span>{{/if}}
            {{#if (ne @root.system.traits.size "med")}}<span class="span1 align-left">{{localize "LF1.Size"}} :</span> <span class="span1 align-rightspaced"> &nbsp;{{lookup @root.config.sizeMods @root.system.traits.size }}</span><span class="span1 align-right"></span>{{/if}}
            {{> "systems/lf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.attack.general skipLine=true skipLabel=1}}

            {{> "systems/lf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.attack.ranged skipLine=true skipLabel=1}}
          </span>
          <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "LF1.Ranged"}}</span></a>
        </th>
        <th class="attribute initiative tooltip" data-attribute="initiative">
          <span class="tooltipcontent">
            <span class="span2 align-left">@attributes.init.total :</span><span class="span1 align-right"> &nbsp;{{system.attributes.init.total}}</span>
            {{> "systems/lf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.init.total }}

            {{> "systems/lf1/templates/actors/parts/actor-contextNotes.hbs" target="misc.init"}}
          </span>

          <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "LF1.Initiative"}}</span></a>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="bab">
          {{#if iteratives}}
          {{iteratives}}
          {{else}}
          {{numberFormat system.attributes.bab.total decimals=0 sign=true}}
          {{/if}}
        </td>

        <td class="cmb">
          {{numberFormat system.attributes.cmb.total decimals=0 sign=true}}
        </td>

        <td class="generic-melee">
          {{numberFormat genericAttacks.melee.modifier decimals=0 sign=true}}
        </td>

        <td class="generic-ranged">
          {{numberFormat genericAttacks.ranged.modifier decimals=0 sign=true}}
        </td>

        <td class="initiative">
          {{system.attributes.init.total}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr>

{{!-- Attack Filters --}}
<div class="inventory-filters flexrow">
  {{~> "systems/lf1/templates/internal/item-search.hbs" category="attacks"}}

  <ul class="filter-list flexrow" data-filter="attacks">
    {{#each sections as |section sid|}}
      <li class="filter-item" data-filter="type-{{sid}}">{{section.label}}</li>
    {{/each}}
  </ul>
</div>

{{!-- Attacks Header --}}
<div class="combat-attacks">
  <section class="attacks-body">
    <ol class="item-groups-list">
    {{#each sections as |section sid|}}
    {{#unless section._hidden}}
      <ol class="item-list" data-type="attack" data-subtype="{{sid}}">
        <li class="item-list-header flexrow attacks-{{sid}}">
          <div class="item-name">
            <h3>{{section.label}}</h3>
          </div>

          {{#if section.showTypes}}<div class="item-detail item-type"><i class="icon icon-magic-palm large" data-tooltip="LF1.Type"></i></div>{{/if}}

          <div class="item-detail item-attacks">
            <label>{{localize "LF1.Attacks"}}</label>
          </div>

          <div class="item-detail item-damage">
              <label>{{localize "LF1.Damage"}}</label>
          </div>

          <div class="item-detail item-range">
              <label>{{localize "LF1.Range"}}</label>
          </div>

          <div class="item-detail item-actions"><i class="icon icon-gears large" data-tooltip="LF1.ActionPlural"></i></div>

          <div class="item-detail item-uses"><i class="icon icon-battery-pack large" data-tooltip="LF1.ChargePlural"></i></div>

          {{#if ../owner}}
          <div class="item-controls">
            {{#if section.canCreate}}
            <a class="item-control item-create" data-tooltip="LF1.CreateItem" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
              <i class="fas fa-plus"></i> {{localize "LF1.Add"}}
            </a>
            {{/if}}
          </div>
          {{/if}}
        </li>

        {{#each section.items as |item iid|}}
        <li class="item flexrow" data-item-id="{{item.id}}">
          <div class="item-name rollable">
            <div class="item-image" style='background-image: url("{{item.img}}")' data-tooltip="LF1.DisplayInChat"></div>
            <h4>{{item.name~}}</h4>
          </div>

          {{#if section.showTypes}}
          <div class="item-detail item-type">
            <span>{{lookup ../../config.attackTypes item.subType}}</span>
          </div>
          {{/if}}

          <div class="item-detail item-attacks tooltip">
            {{#if item.hasAttack}}
            <label>{{actionAttacks item.document.firstAction @root.rollData}}</label>
            <span class="tooltipcontent">
              <span class="span3">
                {{#each item.document.attackArray~}}
                  {{numberFormat this decimals=0 sign=true}}{{#unless @last}}/{{/unless}}
                {{~/each}}
              </span>
              
              {{> "systems/lf1/templates/actors/parts/actor-source-details.hbs" target=item.document.attackSources label="LF1.Details"}}
            </span>
            {{/if}}
          </div>

          <div class="item-detail item-damage tooltip">
            {{#if item.hasDamage}}
              <label class="resolved-formula">{{actionDamage item.document.firstAction @root.rollData}}</label>
              <span class="tooltipcontent">
                <span class="span3">{{actionDamage item.document.firstAction @root.rollData combine=false}}</span>
                <span class="span3"><br/>{{localize "LF1.Details"}}:</span>
                {{#with item.document.firstAction}}
                  {{#each data.damage.parts as |pt ix|}}
                    <span class="span1 align-left">{{pt.formula}}</span><span class="span1 align-rightspaced">&nbsp;</span><span class="span1 align-right">{{#if pt.type}} [{{damageTypes pt.type}}]{{/if}}</span>
                  {{/each}}
                  {{#if data.damage.nonCritParts}}
                    {{#each data.damage.nonCritParts as |pt|}}
                      <span class="span1 align-left">{{pt.formula}}</span><span class="span1 align-rightspaced">&nbsp;</span><span class="span1 align-right">{{#if pt.type}} [{{damageTypes pt.type}}]{{/if}}</span>
                    {{/each}}
                  {{/if}}
                  {{#if data.ability.damage}}
                    <span class="span1 align-left">{{abilityMod data.ability.damage @root.rollData data.ability.damageMult}}</span><span class="span1 align-rightspaced">&nbsp;</span><span class="span1 align-right"> [{{lookup @root.config.abilities data.ability.damage}}]</span>
                  {{/if}}
                  {{#each allDamageSources}}
                    {{#if @first}}<span class="span3"><br></span>{{/if}}
                    <span class="span1 align-left">{{flavor}} :</span><span class="span1 align-rightspaced"> {{value}}</span> <span class="span1 align-right"> [{{#if type}}{{type}}{{else}}{{lookup @root.config.bonusModifiers modifier}}{{/if}}]</span>
                  {{/each}}
                  {{#if (optionalConditionals item)}}
                    <span class="span3">+ {{localize "LF1.Conditionals"}}</span>
                  {{/if}}
                  {{#if damage.critParts}}
                    <span class="span3">+ {{localize "LF1.CritDamageBonusFormula"}}</span>
                  {{/if}}
                {{/with}}
              </span>
            {{/if}}
          </div>

          <div class="item-detail item-range tooltip">
            {{#if item.hasRange}}
            <label>{{actionRange item.document.firstAction @root.rollData}}</label>
              {{#if (or (gt item.range.maxIncrements 1) (ne item.range.minUnits ""))}}
              <span class="tooltipcontent">
                <span class="span3">{{localize "LF1.MaximumRangeIncrements"}} : {{item.range.maxIncrements}}</span>
                <span class="span2 align-left">{{localize "LF1.Range"}} :</span><span class="span1 align-right">
                {{item.range.min}} {{distanceUnit "ft"}} – {{item.range.max}} {{distanceUnit item.range.units}}</span>
              </span>
              {{/if}}
            {{/if}}
          </div>

          <div class="item-detail item-actions">
            <div class="item-action">
              {{#if item.hasAction}}
              <a class="item-control item-action action roll" data-tooltip="LF1.PerformAttack">
                <i class="fa-solid fa-dice-d20"></i>
              </a>
              {{/if}}
            </div>
          </div>

          <div class="item-detail item-uses flexrow {{#if item.isCharged}}tooltip{{/if}}">
            {{#if item.isCharged}}
            <span class="text-box value" data-wheel-step="1" data-dtype="Number">{{item.uses.value}}</span>
            <span class="sep"> / </span>
            <span class="text-box readonly">{{item.uses.max}}</span>
            <span class="tooltipcontent">
              <span class="span2 align-left">@resources.{{item.tag}}.value :</span><span class="span1 align-right"> {{item.uses.value}}</span>
              <span class="span2 align-left">@resources.{{item.tag}}.max :</span><span class="span1 align-right"> {{item.uses.max}}</span>
            </span>
            {{/if}}
          </div>

          {{#if ../../owner}}
          <div class="item-controls">
            <a class="item-control item-edit" data-tooltip="LF1.EditItem"><i class="fas fa-edit"></i></a>
            <a class="item-control item-duplicate" data-tooltip="LF1.DuplicateItem"><i class="fas fa-copy"></i></a>
            <a class="item-control item-delete" data-tooltip="LF1.DeleteItem"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
        </li>
        {{/each}}
      </ol>
    {{/unless}}
    {{/each}}
    </ol>
  </section>
</div>

<hr>

{{!-- Defenses Header --}}
<div class="combat-defenses">
  <ul class="attributes flexrow">
    {{!-- Display Defenses --}}
    <li class="generic-defenses flexrow" data-drag="defenses">
      <h3>
        <i class="fa-solid fa-dice-d20 rollable"></i>
        {{localize "LF1.Defenses"}}
      </h3>
    </li>

    {{!-- Natural Armor --}}
    <li class="natural-armor flexrow">
      <h3>{{localize "LF1.BuffTarACNatural"}}</h3>
      <span class="text-box direct" name="system.attributes.naturalAC" data-dtype="Number">{{system.attributes.naturalAC}}</span>
    </li>

    <li class="flexrow">
      <h3>{{localize "LF1.SpellResistance"}}</h3>
      <input class="formula" name="system.attributes.sr.formula" type="text" placeholder="{{localize "LF1.Formula"}}"
        value="{{#if system.attributes.sr.formula}}{{system.attributes.sr.formula}}{{/if}}"/>
    </li>
  </ul>

  {{> "systems/lf1/templates/actors/parts/actor-defenses_tables.hbs"}}

  <div class="attributes defense-notes flexcol scroll-primary" data-scroll-index="defense-notes">
    <div class="flexrow">
      <h3>{{localize "LF1.SaveNotes"}}</h3>
      <textarea class="context-text" name="system.attributes.saveNotes" placeholder="{{localize "LF1.SaveNotes"}}">{{system.attributes.saveNotes}}</textarea>
    </div>
    <hr>
    <div class="flexrow">
      <h3>{{localize "LF1.ACNotes"}}</h3>
      <textarea class="context-text" name="system.attributes.acNotes" placeholder="{{localize "LF1.ACNotes"}}">{{system.attributes.acNotes}}</textarea>
    </div>
    <hr>
    <div class="flexrow">
      <h3>{{localize "LF1.CMDNotes"}}</h3>
      <textarea class="context-text" name="system.attributes.cmdNotes" placeholder="{{localize "LF1.CMDNotes"}}">{{system.attributes.cmdNotes}}</textarea>
    </div>
    <hr>
    <div class="flexrow">
      <h3>{{localize "LF1.SpellResistanceNotes"}}</h3>
      <textarea class="context-text" name="system.attributes.srNotes" placeholder="{{localize "LF1.SpellResistanceNotes"}}">{{system.attributes.srNotes}}</textarea>
    </div>
    <hr>
  </div>
</div>
