<div class="inventory-filters flexrow">
  {{~> "systems/lf1/templates/internal/item-search.hbs" category="features"}}

  <ul class="filter-list flexrow" data-filter="features">
    {{#each sections as |section sid|}}
    <li class="filter-item" data-filter="type-{{sid}}">{{section.label}}</li>
    {{/each}}
  </ul>
</div>

<section class="feats-body">
  <ol class="item-groups-list">
  {{#each sections as |section sid|}}
  {{#unless section._hidden}}
    <ol class="item-list sub-scroll scroll-feats feats-{{sid}}" data-type="feat" data-subtype="{{sid}}">
      <li class="item-list-header flexrow">
        <div class="item-name">
          <h3>{{section.label}}</h3>
        </div>

        {{#unless section.isClass}}
        <div class="item-detail item-type"><i class="icon icon-magic-palm large" data-tooltip="LF1.Type"></i></div>
        {{/unless}}

        {{#if section.hasActions}}
        <div class="item-detail item-actions"><i class="icon icon-gears large" data-tooltip="LF1.ActionPlural"></i></div>
        <div class="item-detail item-uses"><i class="icon icon-battery-pack large" data-tooltip="LF1.ChargePlural"></i></div>
        <div class="item-detail item-usage"><i class="icon icon-hand large" data-tooltip="LF1.Usage"></i></div>
        {{/if}}

        {{#if section.isClass}}
        <div class="item-detail item-feat-level"><i class="icon icon-upgrade large" data-tooltip="LF1.Level"></i></div>
        {{/if}}

        {{#if ../owner}}
        <div class="item-controls">
          {{#if section.canCreate}}
          <a class="item-control item-create" data-tooltip="LF1.CreateItem" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
            <i class="fas fa-plus"></i>
          </a>
          {{/if}}
          <a data-action="compendium" data-action-target="feats" data-tooltip="LF1.OpenCompendium"><i class="fas fa-folder-plus"></i></a>
        </div>
        {{/if}}
      </li>

      {{#each section.items as |item iid|}}
      <li class="item flexrow{{#unless isCharged}} uncharged{{/unless}}{{#if item.disabled}} disabled{{/if}}" data-item-id="{{item.id}}">
        <div class="item-name rollable">
          <div class="item-image" style='background-image: url("{{item.img}}")' data-tooltip="LF1.DisplayInChat"></div>
          <h4>{{item.name}}</h4>
        </div>

        {{#unless section.isClass}}
        <div class="item-detail item-type">
          <span>{{item.abilityTypeShort}}</span>
        </div>
        {{/unless}}

        {{#if section.hasActions}}
        <div class="item-detail item-actions">
          <div class="item-action">
            {{#unless item.disabled}}
            {{#if item.hasAction}}
            <a class="item-control item-action action roll" data-tooltip="LF1.UseFeat">
              <i class="fa-solid fa-dice-d20"></i>
            </a>
            {{/if}}
            {{/unless}}
          </div>
        </div>

        <div class="item-detail item-uses flexrow {{#if item.isCharged}}tooltip{{/if}}">
          {{#if item.isCharged}}
          <span class="text-box value" data-wheel-step="1" data-dtype="Number">{{item.uses.value}}</span>
          <span class="sep"> / </span>
          <span class="text-box">{{item.uses.max}}</span>
          <span class="tooltipcontent">
            <span class="span2 align-left">@resources.{{item.tag}}.value :</span><span class="span1 align-right"> {{item.uses.value}}</span>
            <span class="span2 align-left">@resources.{{item.tag}}.max :</span><span class="span1 align-right"> {{item.uses.max}}</span>
          </span>
          {{/if}}
        </div>
        <div class="item-detail item-usage">
          {{#if item.labels.activation}}
          <span>{{item.labels.activation}}</span>
          {{/if}}
        </div>
        {{else if section.isClass}}
        <div class="item-detail item-feat-level tooltip">
          <span>{{localize "LF1.Level"}} {{item.level}}</span>
          <span class="tooltipcontent"><span class="span2">@classes.{{item.tag}}.level :</span><span class="span1"> {{item.level}}</span></span>
        </div>
        {{/if}}

        {{#if ../../owner}}
        <div class="item-controls">
          <a class="item-control item-edit" data-tooltip="LF1.EditItem"><i class="fas fa-edit"></i></a>
          <a class="item-control item-duplicate" data-tooltip="LF1.DuplicateItem"><i class="fas fa-copy"></i></a>
          <a class="item-control item-delete" data-tooltip="LF1.DeleteItem"><i class="fas fa-trash"></i></a>
        </div>
        {{/if}}
      </li>
      {{/each}}
    </ol>
  {{/unless}}
  {{/each}}
  </ol>
</section>

<hr>
<div class="tab-footer flexcol tooltip">
  <span class="tooltipcontent">
    {{> "systems/lf1/templates/actors/parts/actor-source-details.hbs" target=sourceData.bonusFeats skipLine=true}}
  </span>
  <div class="flexrow form-group">
    <label>{{localize "LF1.BonusFeatFormula"}}</label>
    <input class="formula" type="text" name="system.details.bonusFeatFormula" value="{{system.details.bonusFeatFormula}}" placeholder="{{localize "LF1.Formula"}}" />
  </div>
  <table class='feat-counts'>
    <thead>
      <tr>
        <th>{{localize "LF1.Feats"}}</th>
        <th>{{localize "LF1.ByLevel"}}</th>
        <th>{{localize "LF1.ByBonus"}}</th>
        <th>{{localize "LF1.Total"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="center owned">{{featCount.value}}</td>
        <td class="center by-level">{{featCount.byLevel}}</td>
        <td class="center by-bonus">{{featCount.byFormula}}</td>
        <td class="center total">{{featCount.total}}</td>
      </tr>
    </tbody>
  </table>
</div>
