<div class="inventory-filters">

  <ol class="currency flexrow{{#if hasCurrency}} has-currency{{/if}}">
    <h3>
      {{localize "LF1.Currency"}}
      <!-- <a class="currency-convert" data-tooltip="LF1.ConvertCurrency"><i class="fas fa-coins"></i></a> -->
    </h3>
    {{#each system.currency as |v k|}}
    <label class="denomination {{k}}">{{ lookup ../config.currencies k }}</label>
    <span class="text-box direct allow-relative" name="system.currency.{{k}}">{{#if v}}{{v}}{{/if}}</span>
    <a class="convert-currency" data-type="{{k}}" data-category="currency" data-tooltip="LF1.ConvertCurrency"><i class="fas fa-long-arrow-alt-left"></i></a>
    {{/each}}
  </ol>
  {{#if isCharacter}}
  <ol class="currency flexrow{{#if hasAltCurrency}} has-currency{{/if}}">
    <h3>
      {{localize "LF1.WeightlessCurrency"}}
      <!-- <a class="currency-convert" data-tooltip="LF1.ConvertCurrency"><i class="fas fa-coins"></i></a> -->
    </h3>
    {{#each system.altCurrency as |v k|}}
    <label class="denomination {{k}} alt-currency">{{ lookup ../config.currencies k }}</label>
    <span class="text-box direct allow-relative" name="system.altCurrency.{{k}}">{{#if v}}{{v}}{{/if}}</span>
    <a class="convert-currency" data-type="{{k}}" data-category="altCurrency" data-tooltip="LF1.ConvertCurrency"><i class="fas fa-long-arrow-alt-left"></i></a>
    {{/each}}
  </ol>
  {{/if}}
</div>

{{!-- Inventory Navigation --}}
<hr>

<div class="inventory-filters flexrow">
  {{~> "systems/lf1/templates/internal/item-search.hbs" category="inventory"}}
  <ul class="filter-list flexrow" data-filter="inventory">
    {{#each sections as |section sid|}}
    <li class="filter-item" data-filter="type-{{sid}}">{{section.label}}</li>
    {{/each}}
  </ul>
</div>

<section class="inventory-body">
  <ol class="item-groups-list">
  {{#each sections as |section sid|}}
  {{#unless section._hidden}}
    <ol class="item-list" data-type="{{section.dataset.type}}" data-subtype="{{section.dataset.sub-type}}">
      <li class="item-list-header flexrow items-{{sid}}">
        <div class="item-name">
          <h3>{{section.label}}</h3>
        </div>

        {{#if section.hasSlots}}<div class="item-detail item-slot"><i class="icon icon-inventory-slot large" data-tooltip="LF1.Slot"></i></div>{{/if}}
        {{#if section.hasActions}}<div class="item-detail item-actions"><i class="icon icon-gears large" data-tooltip="LF1.ActionPlural"></i></div>{{/if}}

        {{#if section.showValue}}
        <div class="item-detail item-value"><i class="icon icon-coins large" data-tooltip="LF1.Value"></i></div>
        {{/if}}
        <div class="item-detail item-weight"><i class="icon icon-weight large" src="systems/lf1/icons/actions/weight.svg" data-tooltip="LF1.ItemWeight"></i></div>
        {{#if ../isGM}}
        <div class="item-detail item-identified"><i class="icon icon-quill-ink large" data-tooltip="LF1.Identified"></i></div>
        {{/if}}
        <div class="item-detail item-carried"><i class="icon icon-wheelbarrow large" data-tooltip="LF1.Carried"></i></div>
        {{#if section.canEquip}}
        <div class="item-detail item-equipped"><i class="icon icon-battle-gear large" data-tooltip="LF1.Equipped"></i></div>
        {{/if}}
        <div class="item-detail item-uses"><i class="icon icon-battery-pack large" data-tooltip="LF1.ChargePlural"></i></div>

        {{#if ../owner}}
        <div class="item-controls">
          {{#if section.canCreate}}
          <a class="item-control item-create" data-tooltip="LF1.CreateItem" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
            <i class="fas fa-plus"></i>
          </a>
          {{/if}}
          <a data-action="compendium" data-action-target="items" data-tooltip="LF1.OpenCompendium"><i class="fas fa-folder-plus"></i></a>
        </div>
        {{/if}}
      </li>

      {{#each section.items as |item iid|}}
      <li class="item flexrow{{#if item.empty}} disabled{{/if}}" data-item-id="{{item.id}}">
        <div class="item-name">
          <div class="item-image rollable" style='background-image: url("{{item.img}}")' data-tooltip="LF1.DisplayInChat"></div>
          <h4 class="rollable">
            {{~#if item.isStack}}({{item.quantity}}) {{/if}}
            {{item.name~}}
          </h4>
        </div>

        {{#if section.hasSlots}}
        <div class="item-detail item-slot">
          <span data-tooltip="{{item.labels.slot}}">{{item.labels.slot}}</span>
        </div>
        {{/if}}

        {{#if section.hasActions}}
        <div class="item-detail item-actions">
          <div class="item-action">
            {{#unless item.showUnidentifiedData}}
            {{#if item.hasAction}}
            <a class="item-control item-action action roll" data-tooltip="LF1.UseItem">
              <i class="fa-solid fa-dice-d20"></i>
            </a>
            {{/if}}
            {{/unless}}
          </div>
        </div>
        {{/if}}

        {{#if section.showValue}}
        <div class="item-detail item-value">
          <span>{{item.price}} {{localize "LF1.CurrencyGP"}}</span>
        </div>
        {{/if}}

        <div class="item-detail item-weight">
          {{#if item.totalWeight}}
          <span>
            {{ item.totalWeight }} {{ item.units }}
          </span>
          {{/if}}
        </div>

        {{#if ../../isGM}}
        <div class="item-detail item-identified">
          <a class="item-control item-identify"><span>{{{item.labels.identified}}}</span></a>
        </div>
        {{/if}}

        <div class="item-detail item-carried">
          <a class="item-control item-carry"><span>{{{item.labels.carried}}}</span></a>
        </div>

        {{#if section.canEquip}}
        <div class="item-detail item-equipped">
          <a class="item-control item-equip"><span>{{{item.labels.equipped}}}</span></a>
        </div>
        {{/if}}

        <div class="item-detail item-uses flexrow {{#if item.isCharged}}tooltip{{/if}}">
          {{#unless showUnidentifiedData}}
          {{#if item.hasResource}}
          <span class="text-box value" data-wheel-step="1" data-dtype="Number">{{item.uses.value}}</span>
          <span class="sep"> / </span>
          <span class="text-box">{{item.uses.max}}</span>
          <span class="tooltipcontent">
            <span class="span2 align-left">@resources.{{item.tag}}.value :</span><span class="span1 align-right"> {{item.uses.value}}</span>
            <span class="span2 align-left">@resources.{{item.tag}}.max :</span><span class="span1 align-right"> {{item.uses.max}}</span>
          </span>
          {{/if}}
          {{/unless}}
        </div>

        {{#if ../../owner}}
        <div class="item-controls">
          <a class="item-control item-quantity-add"><i class="fas fa-plus"></i></a>
          <a class="item-control item-quantity-subtract"><i class="fas fa-minus"></i></a>
          <a class="item-control item-edit" data-tooltip="LF1.EditItem"><i class="fas fa-edit"></i></a>
          <a class="item-control item-duplicate" data-tooltip="LF1.DuplicateItem"><i class="fas fa-copy"></i></a>
          <a class="item-control item-split{{#unless item.isStack}} disabled{{/unless}}" data-tooltip="LF1.SplitItem"><i class="fas fa-people-arrows"></i></a>
          <a class="item-control item-give" data-tooltip="LF1.GiveItem"><i class="fas fa-gift"></i></a>
          <a class="item-control item-delete" data-tooltip="LF1.DeleteItem"><i class="fas fa-trash"></i></a>
        </div>
        {{/if}}
      </li>
      {{/each}}
    </ol>
  {{/unless}}
  {{/each}}
  </ol>
</section>


<hr>
{{#unless isLootSheet}}
<div class="flexrow tab-footer tooltip">
  <div class="tooltipcontent">
    <span class="span2 align-left">@attributes.encumbrance.level :</span><span class="span1 align-right"> {{system.attributes.encumbrance.level}}</span>
    <span class="span3"><br/></span>
    <span class="span2 align-left">@details.carryCapacity.bonus.total :</span><span class="span1 align-right"> {{system.details.carryCapacity.bonus.total}}</span>
    {{> "systems/lf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.details.carryCapacity.bonus.total}}

    <span class="span3"><br/></span>
    <span class="span2 align-left">@details.carryCapacity.multiplier.total :</span><span class="span1 align-right"> {{system.details.carryCapacity.multiplier.total}}</span>
    {{> "systems/lf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.details.carryCapacity.multiplier.total}}
  </div>

  <div class="form-group carry-bonus">
    <label>{{localize "LF1.BonusCarryStrength"}}</label>
    <span class="text-box direct" name="system.details.carryCapacity.bonus.user" data-dtype="Number" data-placeholder="0">{{system.details.carryCapacity.bonus.user}}</span>
    <label>{{localize "LF1.BonusCarryMultiplier"}}</label>
    <span class="text-box direct" name="system.details.carryCapacity.multiplier.user" data-dtype="Number" data-placeholder="0">{{system.details.carryCapacity.multiplier.user}}</span>
  </div>
  {{#with encumbrance}}
  <div class="flexrow inventory-tags tag-list">
    <span class="tag">{{carryLabel}}</span>
    <span class="tag">{{../labels.totalValue}}</span>
  </div>
  <div class="flexrow">
    <div class="encumbrance {{#if encumbered.light}}encumbered{{/if}}">
      {{#if pct.light}}<span class="encumbrance-bar" style="width:{{pct.light}}%"></span>{{/if}}
      <span class="encumbrance-label">{{localize "LF1.CarryLightLoad"}} ({{light}})</span>
    </div>
    <div class="encumbrance {{#if encumbered.medium}}encumbered{{/if}}">
      {{#if pct.medium}}<span class="encumbrance-bar" style="width:{{pct.medium}}%"></span>{{/if}}
      <span class="encumbrance-label">{{localize "LF1.CarryMediumLoad"}} ({{medium}})</span>
    </div>
    <div class="encumbrance {{#if encumbered.heavy}}encumbered{{/if}}">
      {{#if pct.heavy}}<span class="encumbrance-bar" style="width:{{pct.heavy}}%"></span>{{/if}}
      <span class="encumbrance-label">{{localize "LF1.CarryHeavyLoad"}} ({{heavy}})</span>
    </div>
  </div>
  <table class='lift'>
    <thead>
      <tr>
        <th>{{localize "LF1.CarryAboveHead"}}</th>
        <th>{{localize "LF1.CarryOffGround"}}</th>
        <th>{{localize "LF1.CarryDragPush"}}</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class='overhead'>{{aboveHead}}</td>
        <td class='offground'>{{offGround}}</td>
        <td class='drag-push'>{{dragPush}}</td>
      </tr>
    </tbody>
  </table>
{{/with}}
</div>
{{else}}
{{#with encumbrance}}
<div class="flexcol tab-footer">
  <div class="flexrow tag-list">
    <span class="tag carry-load">{{carryLabel}}</span>
    <span class="tag gear-value">{{../labels.totalValue}}</span>
    <span class="tag gear-value-sale">{{../labels.sellValue}}</span>
  </div>
</div>
{{/with}}
{{/unless}}
