{{!-- Ability Score Linking --}}
<div class="ability-scores">
  <h2>{{localize "LF1.AbilityScoreLinks"}}</h2>

  <div class="links">
    {{!-- General --}}
    <div class="general">
      <h3>{{localize "LF1.General"}}</h3>

      {{!-- Hit Points --}}
      <label>{{localize "LF1.HitPoints"}}</label>
      <select name="system.attributes.hpAbility">
        {{selectOptions @root.config.abilities selected=system.attributes.hpAbility blank=""}}
      </select>
    </div>

    {{!-- Saving Throws --}}
    <div class="saving-throws">
      <h3>{{localize "LF1.SavingThrowPlural"}}</h3>

      {{#each system.attributes.savingThrows}}
      <label>{{label}}</label>
      <select name="system.attributes.savingThrows.{{@key}}.ability">
        {{selectOptions @root.config.abilities selected=ability blank=""}}
      </select>
      {{/each}}
    </div>

    {{!-- Combat --}}
    <div class="combat">
      <h3>{{localize "LF1.Combat"}}</h3>

      {{!-- Initiative --}}
      <label>{{localize "LF1.Initiative"}}</label>
      <select name="system.attributes.init.ability">
        {{selectOptions @root.config.abilities selected=system.attributes.init.ability blank=""}}
      </select>

      {{!-- CMB --}}
      <label>{{localize "LF1.CMB"}}</label>
      <select name="system.attributes.cmbAbility">
        {{selectOptions @root.config.abilities selected=system.attributes.cmbAbility blank=""}}
      </select>

      <label>{{localize "LF1.Melee"}}</label>
      <select name="system.attributes.attack.meleeAbility">
        {{selectOptions @root.config.abilities selected=system.attributes.attack.meleeAbility blank=""}}
      </select>

      <label>{{localize "LF1.Ranged"}}</label>
      <select name="system.attributes.attack.rangedAbility">
        {{selectOptions @root.config.abilities selected=system.attributes.attack.rangedAbility blank=""}}
      </select>
    </div>

    {{!-- Defense --}}
    <div class="defenses">
      <h3>{{localize "LF1.Defense"}}</h3>

      <label>{{localize "LF1.ArmorClass"}}</label>
      <select name="system.attributes.ac.normal.ability">
        {{selectOptions @root.config.abilities selected=system.attributes.ac.normal.ability blank=""}}
      </select>

      <label>{{localize "LF1.ACTouch"}}</label>
      <select name="system.attributes.ac.touch.ability">
        {{selectOptions @root.config.abilities selected=system.attributes.ac.touch.ability blank=""}}
      </select>

      <label>{{localize "LF1.CMDAbbr"}} ({{localize "LF1.AbilityStr"}})</label>
      <select name="system.attributes.cmd.strAbility">
        {{selectOptions @root.config.abilities selected=system.attributes.cmd.strAbility blank=""}}
      </select>

      <label>{{localize "LF1.CMDAbbr"}} ({{localize "LF1.AbilityDex"}})</label>
      <select name="system.attributes.cmd.dexAbility">
        {{selectOptions @root.config.abilities selected=system.attributes.cmd.dexAbility blank=""}}
      </select>
    </div>
  </div>
</div>
