.app.lf1.troubleshooter {
  form {
    h3 {
      margin: 0;
    }

    a {
      color: var(--color-text-hyperlink);
    }

    button {
      display: flex;
      flex-flow: row nowrap;
      gap: 0.3rem;
      align-items: center;
      justify-content: center;

      > * {
        // Prevent click handlers for button children
        pointer-events: none;
      }

      .progress {
        visibility: hidden;
        flex: 0 24px;

        &.spinner {
          color: gray;

          @keyframes lf1-constant-spin {
            from {
              transform: rotate(0deg);
            }

            to {
              transform: rotate(360deg);
            }
          }

          animation: lf1-constant-spin 2.5s infinite linear;
        }
      }

      &.finished .progress {
        &.spinner {
          visibility: hidden;
        }
        &.check {
          visibility: visible;
          color: darkgreen;
        }
      }
      &:disabled .progress.spinner {
        visibility: visible;
      }
    }

    .hint {
      padding: 0 10%;
    }
  }
}
