<div class="form-group">
  <label>{{localize "LF1.Size"}}</label>
  <div class="form-fields">
    <select name="system.size">
      {{#select system.size}}
      {{#each config.actorSizes as |name type|}}
      <option value="{{type}}">{{name}}</option>
      {{/each}}
      {{/select}}
      {{#if allowAutoResizing}}
      <label>
        <input type="checkbox" name="system.resizing" data-dtype="Boolean" {{checked system.resizing}}> {{localize "LF1.Resizing"}}
      </label>
      {{/if}}
    </select>
  </div>
</div>