<div class="form-group">
  <label>{{localize "LF1.Identifier"}}</label>
  <input {{#unless system.useCustomTag}}disabled{{/unless}} type="text" name="system.tag" value="{{system.tag}}"
  placeholder="{{system.tag}}" />
  <label>{{localize "LF1.Custom"}}</label>
  <input type="checkbox" name="system.useCustomTag" {{checked system.useCustomTag}} />
</div>
