<ol class="item-groups-list changes-list">
  {{!-- Flags --}}
  <li class="item-list-header flexrow">
    <div class="item-name flag-name flexrow">
      <h3>{{localize "LF1.CheckFlags"}}</h3>
    </div>
    <div class="item-enabled flexrow">{{localize "LF1.Enabled"}}</div>
  </li>

  <ol class="item-list">
    <li class="item change-flag flexrow">
      <div class="item-name flag-name flexrow">
        <h4>{{localize "LF1.ChangeFlagDwarflikeEncumbrance"}}</h4>
      </div>
      <div class="item-enabled flexrow"><input type="checkbox" name="system.changeFlags.noEncumbrance" {{checked system.changeFlags.noEncumbrance}}/></div>
    </li>
    <li class="item change-flag flexrow">
      <div class="item-name flag-name flexrow">
        <h4>{{localize "LF1.ChangeFlagMediumArmorFullSpeed"}}</h4>
      </div>
      <div class="item-enabled flexrow"><input type="checkbox" name="system.changeFlags.mediumArmorFullSpeed" {{checked system.changeFlags.mediumArmorFullSpeed}}/></div>
    </li>
    <li class="item change-flag flexrow">
      <div class="item-name flag-name flexrow">
        <h4>{{localize "LF1.ChangeFlagHeavyArmorFullSpeed"}}</h4>
      </div>
      <div class="item-enabled flexrow"><input type="checkbox" name="system.changeFlags.heavyArmorFullSpeed" {{checked system.changeFlags.heavyArmorFullSpeed}}/></div>
    </li>
    <li class="item change-flag flexrow">
      <div class="item-name flag-name flexrow">
        <h4>{{localize "LF1.ChangeFlagLoseDexToAC"}}</h4>
      </div>
      <div class="item-enabled flexrow"><input type="checkbox" name="system.changeFlags.loseDexToAC" {{checked system.changeFlags.loseDexToAC}}/></div>
    </li>
  </ol>

  {{!-- Changes --}}
  <li class="item-list-header change-header flexrow">
    <div class="item-name">
      <h3>{{localize "LF1.Changes"}}</h3>
      <a class='help-browser' data-url="Help/Items/Changes"><i class="far fa-question-circle"></i></a>
    </div>
    <div class="item-operator flexrow">{{localize "LF1.Operator"}}</div>
    <div class="item-target flexrow">{{localize "LF1.Target"}}</div>
    <div class="item-modifier flexrow">{{localize "LF1.Modifier"}}</div>
    <div class="item-priority flexrow" data-tooltip="LF1.Priority"><i class="fas fa-sort"></i></div>

    {{#if owner}}
    <div class="item-controls basic flexrow">
      <a class="item-control item-create change-control add-change">
        <i class="fas fa-plus"></i>
      </a>
    </div>
    {{/if}}
  </li>

  <ol class="item-list changes">
  {{#each changes as |change a|}}
    <li class="item change flexrow" data-change="{{change.data._id}}">
      <div class="item-name item-formula flexrow">
        {{#unless isScript}}
        <input class="change-formula formula" type="text" name="system.changes.{{a}}.formula" value="{{lookup this.data "formula"}}" placeholder="{{localize "LF1.Formula"}}" required/>
        {{else}}
        <button type="button" class="edit-change-contents"><i class="fas fa-edit"></i> {{localize "LF1.Edit"}}</button>
        {{/unless}}
      </div>

      <div class="item-operator flexrow">
        <select class="change-operator" name="system.changes.{{a}}.operator">
          {{#select (lookup this.data "operator") }}
          <option value="add">+</option>
          <option value="set">=</option>
          <option value="script">S</option>
          {{/select}}
        </select>
      </div>

      <div class="item-target flexrow">
        <span class="change-target{{#unless isValid}} invalid{{/unless}}">{{label}}</span>
      </div>

      <div class="item-modifier flexrow">
        <select class="change-modifier" name="system.changes.{{a}}.modifier">
          {{#select (lookup this.data "modifier") }}
          {{#each ../changeGlobals.modifiers as |name type|}}
          <option value="{{type}}">{{localize name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="item-priority flexrow">
        <input class="change-priority" type="text" data-dtype="Number" name="system.changes.{{a}}.priority" value="{{lookup change.data "priority"}}"
          placeholder="0" />
      </div>

      <div class="item-controls flexrow basic">
        {{#if ../owner}}
        <a class="item-control change-control delete-change"><i class="fas fa-trash"></i></a>
        {{/if}}
      </div>
    </li>
  {{/each}}
  </ol>

  <li class="item-list-header change-header flexrow">
    <div class="item-name">
      <h3>{{localize "LF1.ContextNotes"}}</h3>
    </div>
    <div class="item-target flexrow">{{localize "LF1.Target"}}</div>
    {{#if owner}}
    <div class="item-controls basic flexrow">
      <a class="context-note-control add-note">
        <i class="fas fa-plus"></i>
      </a>
    </div>
    {{/if}}
  </li>

  <ol class="item-list context-notes">
    {{#each contextNotes as |note a|}}
    <li class="item context-note flexrow" data-note="{{a}}">
      <div class="item-name">
        <textarea class="context-note-text context-text" name="system.contextNotes.{{a}}.text" placeholder="{{localize "LF1.Notes"}}">{{{lookup this "text"}}}</textarea>
      </div>

      <div class="item-target flexrow">
        <span class="context-note-target{{#unless isValid}} invalid{{/unless}}">{{label}}</span>
      </div>

      <div class="item-controls flexrow basic">
        {{#if ../owner}}
        <a class="context-note-control delete-note"><i class="fas fa-trash"></i></a>
        {{/if}}
      </div>
    </li>
    {{/each}}
  </ol>
</ol>
