{{!-- Tags --}}
<div class="flexcol">
    <div class="tags">
        <h3 class="form-header">
            <a class="help-browser" data-url="Help/Items/Flags"><i class="fas fa-info-circle"></i></a>
            {{localize "LF1.Flags"}}
        </h3>

        {{!-- Boolean Flags --}}
        <div class="form-group">
            <div class="form-fields boolean-flags">
                <div class="data-selector">
                    <a class="entry-selector" for="system.flags.boolean" data-flag="true" data-boolean="true" data-fields="{{localize "LF1.FlagsBoolean"}}" data-dtypes="String"><i class="fas fa-edit"></i></a>
                    <label for="system.flags.boolean">{{localize "LF1.FlagsBoolean"}}</label>
                </div>

                <div class="tag-list flexrow">
                    {{#each flags.boolean as |value key|}}
                    <span class="tag" data-tootip="">{{key}}</span>
                    {{/each}}
                </div>
            </div>
        </div>

        {{!-- Dictionary Flags --}}
        <div class="form-group">
            <div class="form-fields dictionary-flags">
                <div class="data-selector">
                    <a class="entry-selector" for="system.flags.dictionary" data-flag="true" data-fields="{{localize "LF1.Name"}};{{localize "LF1.Value"}}" data-dtypes="String;String"><i class="fas fa-edit"></i></a>
                    <label for="system.flags.dictionary">{{localize "LF1.FlagsDictionary"}}</label>
                </div>
            </div>

            {{#if flags.dictionary}}
            <table>
                <thead>
                    <tr>
                        <th>{{localize "LF1.Name"}}</th>
                        <th>{{localize "LF1.Value"}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each flags.dictionary as |value key|}}
                    <tr data-tooltip="@dFlags.{{@root.system.tag}}.{{key}}">
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{/if}}
        </div>
    </div>

    {{!-- Script Calls --}}
    {{#if scriptCalls}}
    <div class="script-calls">
        <h3 class="form-header">
            <a class="help-browser" data-url="Help/Items/Script-Calls"><i class="fas fa-info-circle"></i></a>
            {{localize "LF1.ScriptCalls.Name"}}
        </h3>

        {{#each scriptCalls as |section k|}}
        <ol class="item-list" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
            <li class="item-list-header flexrow">
                <div class="item-name">
                    {{#if section.info}}
                    <i class="fas fa-info item-info" data-tooltip="{{section.info}}"></i>
                    {{/if}}
                    <h3>{{localize section.name}}</h3>
                </div>

                {{#if ../isGM}}
                <div class="item-detail item-hidden">
                    <i class="fas fa-eye-slash" data-tooltip="LF1.Hidden"></i>
                </div>
                {{/if}}

                <div class="item-controls">
                    {{#if ../owner}}
                    <a class="item-control item-create" data-tooltip="LF1.ScriptCalls.Create">
                        <i class="fas fa-plus"></i>
                    </a>
                    {{/if}}
                </div>
            </li>

            <ol class="item-list">
                {{#each section.items as |item i|}}
                {{#unless hide}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-name">
                        <div class="item-image no-hover" style='background-image: url("{{item.img}}")'></div>
                        <h4>{{item.name}}</h4>
                    </div>

                    {{#if ../../isGM}}
                    <div class="item-detail item-hidden">
                        <a class="item-control item-hide"><span>{{{item.hiddenIcon}}}</span></a>
                    </div>
                    {{/if}}

                    <div class="item-controls">
                        <a class="item-control item-edit" data-tooltip="LF1.EditItem"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" data-tooltip="LF1.DeleteItem"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/unless}}
                {{/each}}
            </ol>
        </ol>
        {{/each}}
    </div>
    {{/if}}
</div>
