<h4 class="form-header">{{localize "LF1.ProficienciesGranted"}}</h4>

<div class="form-group weapon-proficiencies">
  <label for="system.weaponProf">{{localize "LF1.TraitWeaponProf"}}</label>
  <ul class="traits-list tag-list">
    {{#each weaponProf.selected as |v k|}}
      <li class="tag {{k}}">{{v}}</li>
    {{/each}}
  </ul>
  <a class="trait-selector" data-options="weaponProficiencies"><i class="fas fa-edit"></i></a>
</div>

<div class="form-group armor-proficiencies">
  <label for="system.armorProf">{{localize "LF1.TraitArmorProf"}}</label>
  <ul class="traits-list tag-list">
    {{#each armorProf.selected as |v k|}}
      <li class="tag {{k}}">{{v}}</li>
    {{/each}}
  </ul>
  <a class="trait-selector" data-options="armorProficiencies"><i class="fas fa-edit"></i></a>
</div>

<div class="form-group languages">
  <label for="system.languages">{{localize "LF1.Languages"}}</label>
  <ul class="traits-list tag-list">
    {{#each languages.selected as |v k|}}
      <li class="tag {{k}}">{{v}}</li>
    {{/each}}
  </ul>
  <a class="trait-selector" data-options="languages"><i class="fas fa-edit"></i></a>
</div>
