<div class="item-name flexcol">
  {{#if isGM}}
  <h3>
    <input name="name" type="text" value="{{name}}" placeholder="{{localize 'LF1.ItemName'}}" />
  </h3>
  <!-- <div class="flex-break"></div>-->
  <h3>
    <input
      name="system.unidentified.name"
      type="text"
      value="{{system.unidentified.name}}"
      placeholder="{{localize 'LF1.UnidentifiedName'}}"
    />
  </h3>
  {{else if showUnidentifiedData}}
  <h1>
    <input name="system.unidentified.name" type="text" value="{{name}}" placeholder="{{localize 'LF1.ItemName'}}" />
  </h1>
  {{else}}
  <h1>
    <input name="name" type="text" value="{{name}}" placeholder="{{localize 'LF1.ItemName'}}" />
  </h1>
  {{/if}}
</div>

<div class="item-subtitle">
  <h4 class="item-type">{{localize "LF1.Item"}}</h4>
  <span class="item-status">{{ itemStatus }}</span>
</div>
