<div class="attack-targets">
  <h2>{{localize "LF1.Targets"}}</h2>
  {{#each targets as |t|}}
    <div class="target" data-uuid="{{t.uuid}}">
      {{!-- Saving Throws --}}
      <div class="saving-throws" data-gm-sensitive-uuid="{{t.uuid}}">
        <div class="fort click" data-saving-throw="fort" data-tooltip="LF1.SavingThrowFort">
          <i class="icon icon-heart-plus"></i>
          <span class="value"></span>
        </div>
        <div class="ref click" data-saving-throw="ref" data-tooltip="LF1.SavingThrowRef">
          <i class="icon icon-divert"></i>
          <span class="value"></span>
        </div>
        <div class="will click" data-saving-throw="will" data-tooltip="LF1.SavingThrowWill">
          <i class="icon icon-brain"></i>
          <span class="value"></span>
        </div>
      </div>

      {{!-- Portrait --}}
      <img class="target-image" src="{{t.img}}"/>

      {{!-- AC --}}
      <div class="ac" data-gm-sensitive-uuid="{{t.uuid}}">
        <div class="normal" data-tooltip="LF1.ACNormal">
          <i class="fas fa-shield-alt"></i>
          <span class="value">{{t.actorData.system.attributes.ac.normal.total}}</span>
        </div>
        <div class="touch" data-tooltip="LF1.ACTouch">
          <i class="fas fa-hand-point-up"></i>
          <span class="value">{{t.actorData.system.attributes.ac.touch.total}}</span>
        </div>
        <div class="flatFooted" data-tooltip="LF1.ACFlatFooted">
          <i class="fas fa-shoe-prints"></i>
          <span class="value">{{t.actorData.system.attributes.ac.flatFooted.total}}</span>
        </div>
      </div>
    </div>
  {{/each}}
</div>
