<div class="lf1-tooltip">
    <div class="controls">
        <button type="button" class="close">
            <span class="fas fa-times-circle"></span>
        </button>
    </div>

    {{#if stringContent}}
        {{{stringContent}}}
    {{/if}}

    {{!-- Actor --}}
    {{#if actorData}}
        {{> "systems/lf1/templates/hud/tooltip_actor.hbs" actorData}}
    {{/if}}
</div>
