{{#if portrait}}
    <div class="portrait">
        <img src="{{portrait.url}}" style="max-width: {{portrait.maxWidth}}px; max-height: {{portrait.maxHeight}}px;"/>
    </div>
{{/if}}

<h1>{{name}}</h1>

{{!-- Show Conditions --}}
{{#if conditions}}
    <h2>{{localize "LF1.ConditionPlural"}}</h2>

    <div class="conditions">
        {{#each conditions as |c|}}
            <div class="condition">
                <img src="{{c.icon}}">
                <span>{{c.label}}</span>
            </div>
        {{/each}}
    </div>
{{/if}}

{{!-- Show Buffs --}}
{{#if buffs}}
    <h2>{{localize "LF1.Buffs"}}</h2>

    <div class="buffs">
        {{#each buffs as |b|}}
            <div class="buff">
                <img src="{{b.icon}}">
                <span>{{b.label}}{{#if b.level}} ({{b.level}}){{/if}}</span>
            </div>
        {{/each}}
    </div>
{{/if}}

{{!-- Show Held items --}}
{{#if held}}
    <h2>{{localize "LF1.Held"}}</h2>

    <div class="held-items">
        {{#each held as |i|}}
            <div class="held-item">
                <img src="{{i.icon}}">
                <span>{{i.label}}</span>
            </div>
        {{/each}}
    </div>
{{/if}}

{{!-- Show equipped armor --}}
{{#if armor}}
    <h2>{{localize "LF1.EquipTypeArmor"}}</h2>

    <div class="held-items">
        {{#each armor as |i|}}
            <div class="held-item">
                <img src="{{i.icon}}">
                <span>{{i.label}}</span>
            </div>
        {{/each}}
    </div>
{{/if}}

{{!-- Show Clothing --}}
{{#if clothing}}
    <h2>{{localize "LF1.EquipTypeClothing"}}</h2>

    <div class="held-items">
        {{#each clothing as |i|}}
            <div class="held-item">
                <img src="{{i.icon}}">
                <span>{{i.label}}</span>
            </div>
        {{/each}}
    </div>
{{/if}}
