<form class="{{cssClass}}" autocomplete="off">
  <div class="flexcol">
    <div class="form-group stacked">
      <label class="checkbox">
        <input type="checkbox" name="restoreHealth" checked/> {{localize "LF1.RestoreHealth"}}
      </label>

      <label class="checkbox">
        <input type="checkbox" name="restoreDailyUses" checked/> {{localize "LF1.RestoreDailyUses"}}
      </label>

      <label class="checkbox">
        <input type="checkbox" name="longTermCare"/> {{localize "LF1.LongTermCare"}}
      </label>
    </div>

    <div class="form-group">
      <label>{{localize "LF1.Duration"}}</label>
      <input type="number" data-dtype="Number" name="hours" value="8"/> {{localize "LF1.TimeHour"}}
    </div>
  </div>

  <button type="submit" name="submit">
    {{localize "LF1.Rest"}}
  </button>
</form>
