<form>
  {{#if hasAttack}}
  <div class="form-group">
      <label>{{localize "LF1.AttackRollDice"}}</label>
      <input class="attribute" type="text" name="d20" value="{{attributes.d20}}" placeholder="e.g. 2d20kl"/>
  </div>
  <div class="form-group">
    <label>{{localize "LF1.AttackRollBonus"}}</label>
    <input class="attribute" type="text" name="attack-bonus" value="{{attributes.attack-bonus}}" placeholder="e.g. +1d4"/>
  </div>
  {{/if}}
  {{#if hasDamage}}
  <div class="form-group">
    <label>{{localize "LF1.DamageBonus"}}</label>
    <input class="attribute" type="text" name="damage-bonus" value="{{attributes.damage-bonus}}" placeholder="e.g. +1d4"/>
  </div>
  {{/if}}

  {{!-- Flags --}}
  {{#if (or hasAttack hasDamage)}}
  <div class="form-group stacked flags">
    <label>{{localize "LF1.Misc"}}</label>
    <label class="checkbox">
      <input type="checkbox" name="haste-attack" {{checked flags.haste-attack}}/> {{localize "LF1.Haste"}}
    </label>
    {{#if isMeleeWeaponAttackAction}}
    <label class="checkbox">
      <input type="checkbox" name="power-attack" {{checked flags.power-attack}}/> {{localize "LF1.PowerAttack"}}
    </label>
    {{/if}}
    {{#if isRangedWeaponAttackAction}}
    <label class="checkbox">
      <input type="checkbox" name="power-attack" {{checked flags.power-attack}}/> {{localize "LF1.DeadlyAim"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="manyshot" {{checked flags.manyshot}}/> {{localize "LF1.Manyshot"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="rapid-shot" {{checked flags.rapid-shot}}/> {{localize "LF1.RapidShot"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="point-blank-shot" {{checked flags.point-blank-shot}}/> {{localize "LF1.PointBlankShot"}}
    </label>
    {{/if}}
    {{#if isNaturalAttack}}
    <label class="checkbox">
      <input type="checkbox" {{checked flags.primary-attack}} name="primary-attack"/> {{localize "LF1.PrimaryAttack"}}
    </label>
    {{/if}}
  </div>
  {{/if}}

  {{!-- Conditionals --}}
  {{#if item.conditionals}}
  <div class="form-group stacked conditionals">
    <label>{{localize "LF1.Conditionals"}}</label>
    {{#each item.conditionals as |conditional a|}}
    <label class="checkbox">
      <input type="checkbox" data-dtype="Boolean" name="conditional.{{a}}" class="conditional" {{checked (lookup ../conditionals (concat "conditional." a))}}> {{lookup this "name"}}
    </label>
    {{/each}}
  </div>
  {{/if}}

  {{#if hasDamage}}{{#if hasDamageAbility}}
  <div class="form-group select">
    <label>{{localize "LF1.DamageAbility"}}</label>
    <select name="damage-ability-multiplier">
      {{selectOptions config.abilityDamageMultipliers selected=attributes.damage-ability-multiplier nameAttr="value" labelAttr="label"}}
    </select>
  </div>
  {{/if}}{{/if}}

  {{#if (or isAttack isWeapon)}}
  {{#unless isNaturalAttack}}
  <div class="form-group select">
    <label>{{localize "LF1.Held"}}</label>
    <select name="held">
      {{#select attributes.held}}
      {{#each config.weaponHoldTypes as |name type|}}
      <option value="{{type}}">{{name}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>
  {{/unless}}
  {{/if}}

  {{#if isSpell}}
  <div class="form-group">
    <label>{{localize "LF1.CasterLevelOffset"}}</label>
    <input class="attribute" type="number" data-dtype="Number" value="{{attributes.cl-offset}}" name="cl-offset" />
  </div>

  <div class="form-group">
    <label>{{localize "LF1.SpellLevelOffset"}}</label>
    <input class="attribute" type="number" data-dtype="Number" value="{{attributes.sl-offset}}" name="sl-offset" />
  </div>

  <div class="form-group">
    <label>{{localize "LF1.ConcentrationCheck"}}</label>
    <input type="checkbox" data-dtype="Boolean" name="concentration" {{checked flags.concentration}} />
  </div>

  <div class="form-group">
    <label>{{localize "LF1.CasterLevelCheck"}}</label>
    <input type="checkbox" data-dtype="Boolean" name="cl-check" {{checked flags.cl-check}} />
  </div>
  {{/if}}

  {{!-- Attacks (preview only, for now) --}}
  {{#if hasAttack}}
  <div class="attacks">
    <div class='attack-header'>
      <h3 class='name'>{{localize "LF1.Attack"}}</h3>
      <h3 class='bonus'>{{localize "LF1.ModifierAbbr"}}</h3>
      {{#if @root.usesAmmo}}
      <h3 class='ammo'>{{localize "LF1.AmmunitionAbbr"}}</h3>
      {{/if}}
    </div>
    {{#each attacks as |atk idx|}}
    <div class="attack" data-index="{{idx}}">
      <input class="name" disabled type="text" name="attack.{{idx}}.label" value="{{atk.label}}" data-tooltip="LF1.Name" />
      <input class="bonus" disabled type="text" name="attack.{{idx}}.attackBonusTotal" value="{{atk.attackBonusTotal}}" data-tooltip="LF1.AttackRollBonus" />
      {{#if @root.usesAmmo}}
        <div class="ammo ammo-select">
          <div class="flexrow">
            {{#if atk.ammo}}
              <img src="{{atk.ammo.data.img}}"></img>
              <span>{{atk.ammo.data.name}}</span>
            {{else}}
              <span></span>
            {{/if}}
            <i class="fas fa-chevron-down"></i>
          </div>
          <ul class="ammo-list">
            {{!-- No ammo --}}
            <li class="ammo-item" data-id="null">
              <span>{{localize "LF1.None"}}</span>

              <div class="controls">
                <a data-type="set-default" data-tooltip="LF1.Default"><i class="fas fa-cog"></i></a>
                <a data-type="set-all" data-tooltip="LF1.ApplyToAll"><i class="fas fa-plus"></i></a>
              </div>
            </li>
            {{!-- Ammo items --}}
            {{#each @root.ammo as |ammo|}}
              <li class="ammo-item{{#if ammo.isDefault}} default{{/if}}" data-id="{{ammo.data._id}}">
                <img src="{{ammo.data.img}}"></img>
                <span>{{ammo.data.name}} ({{ammo.data.system.quantity}})</span>

                <div class="controls">
                  <a data-type="set-default" data-tooltip="LF1.Default"><i class="fas fa-cog"></i></a>
                  <a data-type="set-all" data-tooltip="LF1.ApplyToAll"><i class="fas fa-plus"></i></a>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
    </div>
    {{/each}}
  </div>
  {{/if}}

  <div class="form-group stacked">
    {{#if hasTemplate}}
    <label class="checkbox">
      <input type="checkbox" name="measure-template" {{checked flags.measure-template}} /> {{localize "LF1.MeasureTemplate"}}
    </label>
    {{/if}}
  </div>

  <div class="form-group">
    <label>{{localize "LF1.RollMode"}}</label>
    <select name="rollMode">
      {{#select attributes.rollMode}}
      {{#each rollModes as |label mode|}}
      <option value="{{mode}}">{{localize label}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>

  <div class="form-group">
    {{#if (or isAttack isWeapon)}}
    <button type="button" name="attack_single">
      {{localize "LF1.SingleAttack"}}
    </button>

    <button type="submit" name="attack_full">
      {{localize "LF1.FullAttack"}}
    </button>
    {{else}}
    <button type="submit" name="attack_full">
      {{localize "LF1.Use"}}
    </button>
    {{/if}}
  </div>
</form>
