<form class="currency-transfer" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group">
      <label>{{localize "LF1.CurrencyPlatinumP"}}</label>
      <div class="form-fields">
        <button class="cur-range down" type="button" data-tooltip="LF1.None" tabindex="-1">
          <i class="fas fa-arrow-alt-circle-down"></i>
        </button>
        <input type="number" name="pp" placeholder="0" value="{{dest.amount.pp}}" data-dtype="Number">
        <label>/</label>
        <span class="text-box readonly">{{source.amount.pp}}</span>
        <button class="cur-range up" type="button" data-tooltip="LF1.All" tabindex="-1">
          <i class="fas fa-arrow-alt-circle-up"></i>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "LF1.CurrencyGoldP"}}</label>
      <div class="form-fields">
        <button class="cur-range down" type="button" data-tooltip="LF1.None" tabindex="-1">
          <i class="fas fa-arrow-alt-circle-down"></i>
        </button>
        <input type="number" name="gp" placeholder="0" value="{{dest.amount.gp}}" data-dtype="Number">
        <label>/</label>
        <span class="text-box readonly">{{source.amount.gp}}</span>
        <button class="cur-range up" type="button" data-tooltip="LF1.All" tabindex="-1">
          <i class="fas fa-arrow-alt-circle-up"></i>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "LF1.CurrencySilverP"}}</label>
      <div class="form-fields">
        <button class="cur-range down" type="button" data-tooltip="LF1.None" tabindex="-1">
          <i class="fas fa-arrow-alt-circle-down"></i>
        </button>
        <input type="number" name="sp" placeholder="0" value="{{dest.amount.sp}}" data-dtype="Number">
        <label>/</label>
        <span class="text-box readonly">{{source.amount.sp}}</span>
        <button class="cur-range up" type="button" data-tooltip="LF1.All" tabindex="-1">
          <i class="fas fa-arrow-alt-circle-up"></i>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "LF1.CurrencyCopperP"}}</label>
      <div class="form-fields">
        <button class="cur-range down" type="button" data-tooltip="LF1.None" tabindex="-1">
          <i class="fas fa-arrow-alt-circle-down"></i>
        </button>
        <input type="number" name="cp" placeholder="0" value="{{dest.amount.cp}}" data-dtype="Number">
        <label>/</label>
        <span class="text-box readonly">{{source.amount.cp}}</span>
        <button class="cur-range up" type="button" data-tooltip="LF1.All" tabindex="-1">
          <i class="fas fa-arrow-alt-circle-up"></i>
        </button>
      </div>
    </div>

    <div class="form-group currency-total">
      <label>{{localize "LF1.Total"}}</label>
      <div class="form-fields">
        <label></label>
        <label>/</label>
        <label>{{total}} {{localize "LF1.CurrencyGP"}}</label>
      </div>
    </div>

    <button type="submit" name="submit">
        <i class="fas fa-save"></i> {{localize "LF1.CurrencySend"}}
    </button>
</form>
