<form autocomplete="off" onsubmit="event.preventDefault();">
  <table>
    <thead>
      {{#each fields as |v|}}
      <th>{{v}}</th>
      {{/each}}
      <th class="entry-control"></th>
    </thead>
    <tbody>
      {{#each entries as |entry index|}}
      <tr class="entry" data-index="{{index}}">
        {{#if @root.isFlat}}
          <td><input type="text" class="textarea" data-index="{{index}}" value="{{0}}" data-dtype="{{1}}" name="{{index}}" /></td>
        {{else}}
          {{#each entry as |v k|}}
          {{#with v}}
          <td><input type="text" class="textarea" data-index="{{k}}" value="{{0}}" data-dtype="{{1}}" name="{{index}}-{{k}}" /></td>
          {{/with}}
          {{/each}}
        {{/if}}
        <td class="entry-control"><a class="entry-control delete-entry"><i class="fas fa-minus"></i></a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <a class="entry-control add-entry"><i class="fas fa-plus"></i> {{localize "LF1.AddEntry"}}</a>

  <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{localize "LF1.UpdateItem"}}</button>
</form>
