<form class="{{cssClass}}" autocomplete="off">
  <div class="tab section flexcol" data-section="{{section.name}}" data-section-index="{{sectionIdx}}">
    <h2 class="form-header">{{localize section.label}}</h2>

    {{#if section.items}}
      <div class="flexrow">
        <nav class="list-selector" data-content="{{section.name}}">
          {{#each section.items as |item a|}}
            <a class="item{{#if (eq item.id ../section.currentItem.id)}} active{{/if}}" data-id="{{item.id}}" data-target="{{item.target}}" data-type="{{item.type}}">
              {{#if item.img}}
                <img src="{{item.img}}"></img>
              {{else}}
                <span class="fake-img"></span>
              {{/if}}
              <span class="name">{{item.name}}</span>
            </a>
          {{/each}}
        </nav>

        <div class="content {{section.name}}-body">
          {{#with section.currentItem}}
            {{#if (eq type "html")}}
              {{> (lookup . "target") ..}}
            {{/if}}
          {{/with}}
        </div>
      </div>
    {{/if}}

    {{#if section.template}}
      {{> (lookup section "template") .}}
    {{/if}}
  </div>

  <div class="nav-buttons">
    <button type="button" disabled data-type="previous">{{localize "LF1.Previous"}}</button>
    <button type="button" disabled data-type="next">{{localize "LF1.Next"}}</button>
    <button type="submit" disabled data-type="submit">{{localize "LF1.Submit"}}</button>
  </div>
</form>