<form autocomplete="off">
  <ol class="ability-list">
    {{#each abilities as |abl|}}
    <li class="ability flexrow" data-ability="{{abl.key}}">
      <span class="name">
        {{abl.name}}
      </span>

      {{!-- Subtract --}}
      <div class="controls">
        <a class="control subtract">
          <i class="fas fa-minus"></i>
        </a>
      </div>

      {{!-- Current Value --}}
      <span class="value">
        {{abl.value}}
      </span>

      {{!-- Add --}}
      <div class="controls">
        <a class="control add">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </li>
    {{/each}}
  </ol>

  <div class="info">
    <p class="usage">
      {{localize "LF1.PointBuyCalculatorSpent"}}: {{points}}
      {{#if invalidPoints}}
        <i class="fa-solid fa-triangle-exclamation" data-tooltip="LF1.PointBuyCalculatorInvalidPoints"></i>
      {{/if}}
    </p>
    <table class="categories">
      <tr>
        <th>{{localize "LF1.PointBuyCalculatorCampaignType"}}</th>
        <th>{{localize "LF1.PointBuyCalculatorPoints"}}</th>
      </tr>
      {{#each limits}}
      <tr{{#if (eq @root.closest key)}} class="closest"{{/if}} data-category="{{key}}">
        <td>{{localize label}}</td>
        <td>{{points}}</td>
      </tr>
      {{/each}}
    </table>
    <p>
      <i class="fas fa-exclamation-triangle"></i> {{localize "LF1.PointBuyCalculatorWarning"}}
    </p>
  </div>

  <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{localize "LF1.Confirm"}}</button>
</form>
