<form autocomplete="off">
  <h2>{{localize "LF1.CreateItemForSpell" name=name}}</h2>

  {{!-- Spell Level --}}
  <div class="form-group">
    <label>{{localize "LF1.SpellLevel"}}</label>
    <div class="form-fields">
      <input type="number" data-dtype="Number" min="0" step="1" name="sl" value="{{sl}}" placeholder="1" />
    </div>
  </div>

  {{!-- Caster Level --}}
  <div class="form-group">
    <label>{{localize "LF1.CasterLevel"}}</label>
    <div class="form-fields">
      <input type="number" data-dtype="Number" min="1" step="1" name="cl" value="{{cl}}" placeholder="1" />
    </div>
  </div>

  {{#if isGM}}
  <div class="form-group">
    <label class="checkbox">
      <input type="checkbox" data-dtype="Boolean" name="identified" checked />
      {{localize "LF1.Identified"}}
    </label>
  </div>

  <div class="form-group">
    <label>{{localize "LF1.UnidentifiedName"}}</label>
    <input type="text" name="unidentifiedName" placeholder="{{localize "LF1.CreateItemNamePlaceholder"}}">
  </div>
  {{/if}}
</form>
