<div class="item-list-search">
  <input class="search-input" type="search" data-key="filters.search.{{category}}" data-category="{{category}}" placeholder="{{localize 'LF1.SearchFilterPlaceholder'}}" value="{{lookup filters.search category}}"></input>
  <i class="fas fa-times-circle clear-search"></i>
</div>
