<div class="spell-description">
  <p>
  <strong>{{localize "LF1.School"}}</strong>&nbsp;{{{label.school}}}{{#if label.subschool}}&nbsp;({{{label.subschool}}}){{/if}}{{#if label.types}}&nbsp;[{{{label.types}}}]{{/if}}
  {{~#unless chatcard}}
    {{~#if learnedAt.class}}; <strong>{{localize "LF1.Level"}}</strong>&nbsp;{{{learnedAt.class}}}{{/if}}
    {{~#if learnedAt.domain}}; <strong>{{localize "LF1.Domain"}}</strong>&nbsp;{{{learnedAt.domain}}}{{/if}}
    {{~#if learnedAt.subDomain}}; <strong>{{localize "LF1.SubDomain"}}</strong>&nbsp;{{{learnedAt.subDomain}}}{{/if}}
    {{~#if learnedAt.elementalSchool}}; <strong>{{localize "LF1.ElementalSchool"}}</strong>&nbsp;{{{learnedAt.elementalSchool}}}{{/if}}
    {{~#if learnedAt.bloodline}}; <strong>{{localize "LF1.Bloodline"}}</strong>&nbsp;{{{learnedAt.bloodline}}}{{/if}}
  {{else}};
    <strong>{{localize "LF1.Level"}}</strong> {{data.level}}
  {{/unless}}
  </p>
  <p>
  {{#if label.castingTime}}<strong>{{localize "LF1.CastingTime"}}</strong>&nbsp;{{{label.castingTime}}}<br>{{/if}}
  {{#if label.components}}<strong>{{localize "LF1.Components"}}</strong>&nbsp;{{{label.components}}}<br>{{/if}}
  </p>
  <p>
  {{#if label.range}}<strong>{{localize "LF1.Range"}}</strong>&nbsp;{{{label.range}}}<br>{{/if}}
  {{#if label.area}}<strong>{{localize "LF1.Area"}}</strong>&nbsp;{{{label.area}}}<br>{{/if}}
  {{#if label.targets}}<strong>{{localize "LF1.Targets"}}</strong>&nbsp;{{{label.targets}}}<br>{{/if}}
  {{#if label.effect}}<strong>{{localize "LF1.Effect"}}</strong>&nbsp;{{{label.effect}}}<br>{{/if}}
  {{#if label.duration}}<strong>{{localize "LF1.Duration"}}</strong>&nbsp;{{{label.duration}}}<br>{{/if}}
    {{#if useDCandSR}}
      <strong>{{localize "LF1.SavingThrow"}}</strong>&nbsp;{{{label.savingThrow}}};&nbsp;
      <strong>{{localize "LF1.SpellResistance"}}</strong>&nbsp;{{{label.sr}}}<br>
    {{/if}}
  </p>
</div>
