<div class="form-group">
    <label>{{localize "TOKEN.VisionLowLight"}}:</label>
    <input type="checkbox" name="flags.lf1.lowLightVision" data-dtype="Boolean" {{checked object.flags.lf1.lowLightVision}}/>
</div>

<div class="form-group slim">
    <label>{{localize "TOKEN.VisionLowLightMultiplier"}}</label>
    <div class="form-fields">
        <label>{{localize "TOKEN.VisionDim"}}</label>
        <input type="number" name="flags.lf1.lowLightVisionMultiplier" data-dtype="Number" placeholder="2" data-tooltip="LF1.Dim" value="{{object.flags.lf1.lowLightVisionMultiplier}}"/>
        <label>{{localize "TOKEN.VisionBright"}}</label>
        <input type="number" name="flags.lf1.lowLightVisionMultiplierBright" data-dtype="Number" placeholder="2" data-tooltip="LF1.Bright" value="{{object.flags.lf1.lowLightVisionMultiplierBright}}"/>
    </div>
</div>
